:root {
    --sect1-second-color: rgb(107, 165, 242);
    --sect1-second-color-50: rgb(107, 165, 242, 0.5);
    --sect1-third-color: rgb(0, 16, 157);
    --sect2-second-color: #6405FF;
}

.padding-box-title {
    padding: 50px 0 0 30px;
}

.box-title {
    /* Valores padrões */
    font-size: 2rem;
    max-width: 14em;
    max-height: 4em;
    padding: 20px;
}

    .box-title p.title1 {
        font-size: 1em;
        letter-spacing: 0.1em;
        line-height: 1.3em;
    }

    .box-title p.title2 {
        font-size: 0.85em;
        letter-spacing: 0.1em;
        line-height: 1.1em;
    }

    .box-title-menor {
        max-width: 10em;
    }

section {
    height: 92.36vh;
    /* height: 100vh; */
}

/* Sessão clara - ímpar */
.section1 {
    background-color: #FEFCF3;
    color: rgb(0, 0, 0);
}

    .sect1-border-box {
        /* valores para sessão clara - ímpar */
        border: 0.5rem solid rgb(0, 0, 0);
    }

    .sect1-backg-second-color-50 {
        background: var(--sect1-second-color-50);
        padding: 7px;
    }

    .sect1-second-color {
        color: var(--sect1-second-color);
    }

    .sect1-third-color {
        color: var(--sect1-third-color);
    }

    .sect1-button {
        background: black;
        font-size: 1rem;
        padding: 1em 7em 1em 7em;
        border-radius: 100px;
    }

    .sect1-button a {
        color: white;
    }


/* Sessão escura - par */
.section2 {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

    .sect2-border-box {
        /* valores para sessão clara - ímpar */
        border: 0.5rem solid rgb(255, 255, 255);
    }

    .sect2-second-color {
        color: var(--sect2-second-color);
    }


.box-shadow-bottom {
    background: linear-gradient(0deg, rgba(0,0,0,0.500) 0.4%, rgba(112,111,111,0.350) 12%, rgba(255,255,255,0) 37%);
}


div.left {
    width: 50%;
}
div.right {
    width: 50%;
}
/* RESPONSIVIDADE */
/* Falta fazer para tela muito grande (ou adaptar) */
@media only screen and (min-height: 933px) {
    section {
        height: 95vh;
    }
}

@media only screen and (min-height: 1500px) {
    section {
        height: 96vh;
    }
}   