.box-title {
    margin: 50px 0 0 30px;
    font-size: 6rem;
    max-width: 9em;
    max-height: 3em;
    border: 0.5rem solid black;
    padding: 20px;
    color: rgba(0, 0, 0, 1.000);
}

.box-title p.title1 {
    font-size: 0.6em;
    letter-spacing: 0.1em;
}