#toggler {
    display: inline-block;
    border: 1px solid white;
    border-radius: 50px;
    height: 45%;
    width: 70px;
    cursor: pointer;
    user-select: none;
}

#toggle-darkmode {
    display: none;
}

.sun, .moon, .star {
    position: absolute;
    color: #f8f81b;
    font-size: 18px;
}

.ball {
    position: relative;
}

.sun {
    font-size: 22px;
    transform: translate(-190%, 16%);
}

.moon {
    font-size: 25px;
    transform: rotate(210deg) translate(-5%, -10%);
}

.ball {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 30px;
    transform: translate(-75%, 7%);
    transition: transform 0.3s ease-in-out;
    z-index: 999999;
}

#toggle-darkmode:checked + .ball {
    transform: translate(80%, 7%);
}