@charset "UTF-8";
@font-face {
  font-family: JosefinSansRegular;
  src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: JosefinSansMedium;
  src: url(../fonts/JosefinSans/JosefinSans-Medium.ttf);
}
@font-face {
  font-family: JosefinSansLight;
  src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
}
@font-face {
  font-family: JosefinSansBoldItalic;
  src: url(../fonts/JosefinSans/JosefinSans-BoldItalic.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-Regular.ttf);
}
:root {
  --width-box-title1: 500px;
  --font-size-box-title1: 2.2rem;
  --width-box-title2: 490px;
  --font-size-box-title2: 2rem;
  --width-box-title3: 300px;
  --font-size-box-title3: 1.6rem;
  --height-sandy-danny: 95vh;
  --backg-color: #FEFCF3;
  --text-color: #000000;
  --text-color-50: #00000080;
  --text-color-80: #000000cc;
  --link-color: #45CFE1;
  --second-color: #6ba5f2;
  --second-color-50: #6ba5f280;
  --third-color: #00109d;
  --sect-par-backg-color: #000;
  --sect-par-text-color: #fff;
}

.darkmode:root {
  --backg-color: #121111;
  --text-color: #FEFCF3;
  --text-color-50: #FFFFFF80;
  --text-color-80: #FFFFFFcc;
  --second-color: #A167FF;
  --second-color-50: #A167FF80;
  --third-color: #C6A4FF;
}

@media (min-width: 1141px) {
  :root {
    --width-box-title1: calc(500px * 1.2);
    --font-size-box-title1: calc(2.2rem * 1.2);
    --width-box-title2: calc(450px * 1.3);
    --font-size-box-title2: calc(2rem * 1.2);
    --width-box-title3: calc(300px * 1.2);
    --font-size-box-title3: calc(1.6rem * 1.2);
  }
}
@media (min-width: 1350px) {
  :root {
    --width-box-title1: calc(500px * 1.4);
    --font-size-box-title1: calc(2.2rem * 1.4);
    --width-box-title2: calc(450px * 1.4);
    --font-size-box-title2: calc(2rem * 1.4);
    --width-box-title3: calc(300px * 1.4);
    --font-size-box-title3: calc(1.6rem * 1.4);
  }
}
@media (min-width: 1600px) {
  :root {
    --width-box-title1: calc(500px * 1.6);
    --font-size-box-title1: calc(2.2rem * 1.6);
    --width-box-title2: calc(450px * 1.6);
    --font-size-box-title2: calc(2rem * 1.6);
    --width-box-title3: calc(300px * 1.6);
    --font-size-box-title3: calc(1.6rem * 1.6);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--backg-color);
  color: var(--text-color);
  font-family: Inter;
  font-size: 18px;
  padding-top: 4.5rem;
}

main {
  width: 100%;
  min-height: 100%;
}

h1, h2, h3 {
  font: inherit;
  font-family: JosefinSansRegular;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

p.text {
  margin: 8px;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--link-color);
}
a .underline:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

button {
  cursor: pointer;
  font-family: JosefinSansRegular;
}

.flexCenterVH {
  display: flex;
  justify-content: center;
  align-items: center;
}

.italic {
  font-style: italic;
}

.wh100 {
  height: 100%;
  width: 100%;
}

.animation-title {
  /*Animação*/
  --b: 0.1em; /* A grossura da linha */
  --c: #6BA5F2; /* A cor da linha*/
  color: var(--text-color-80);
  padding-block: var(--b);
  background: linear-gradient(var(--c) 50%, var(--text-color-80) 0) 0% calc(100% - var(--_p, 0%))/100% 200%, linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));
}

.animation-title:hover {
  --_p: 100%;
  --_s: .3s;
}

.animation-link {
  --b: 0.1em; /*A grossura da linha*/
  --c: #ffffff; /*A cor da linha*/
  padding-block: var(--b);
  background: linear-gradient(var(--c) 50%, rgb(255, 255, 255) 0) 0% calc(100% - var(--_p, 0%))/100% 200%, linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));
}
.animation-link:hover {
  --_p: 100%;
  --_s: .3s;
}

.fade {
  transition: all 0.2s ease-in-out;
}

/*# sourceMappingURL=base.css.map */
