@charset "UTF-8";
@font-face {
  font-family: "Josefin Sans Regular";
  src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "Josefin Sans Medium";
  src: url(../fonts/JosefinSans/JosefinSans-Medium.ttf);
}
@font-face {
  font-family: "Josefin Sans Light";
  src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
}
@font-face {
  font-family: "Josefin Sans Bold";
  src: url(../fonts/JosefinSans/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: "Josefin Sans SemiBold";
  src: url(../fonts/JosefinSans/JosefinSans-SemiBold.ttf);
}
@font-face {
  font-family: "Josefin Sans Bold Italic";
  src: url(../fonts/JosefinSans/JosefinSans-BoldItalic.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-Regular.ttf);
}
@font-face {
  font-family: InterSemiBold;
  src: url(../fonts/Inter/Inter-SemiBold.ttf);
}
:root {
  --width-box-title1: 500px;
  --font-size-box-title1: 1.8em;
  --width-box-title2: 490px;
  --font-size-box-title2: 1.7em;
  --width-box-title3: 300px;
  --font-size-box-title3: 1.1em;
  --width-mais-tocadas: 480px;
  --font-size-box-title3: 1.6em;
  --height-sandy-danny: 95vh;
  --backg-color: #FEFCF3;
  --text-color: #000000;
  --text-color-50: #00000080;
  --text-color-60: #00000099;
  --text-color-80: #000000cc;
  --link-color: #45CFE1;
  --active-link-color: #6406ff;
  --second-color: #4925B0;
  --second-color-50: #4925B080;
  --third-color: #00109d;
  --sect-par-backg-color: #000;
  --sect-par-text-color: #fff;
  --fieldset-color: #B6B6B6;
  --backg-form: #EFEFEF;
  --backg-camada-2: white;
}

.darkmode:root {
  --backg-color: #000000;
  --text-color: #FEFCF3;
  --text-color-50: #FFFFFF80;
  --text-color-60: #FFFFFF99;
  --text-color-80: #FFFFFFcc;
  --second-color: #8F00FF;
  --second-color-50: #9000ff74;
  --third-color: #C6A4FF;
  --backg-form: #000000;
  --backg-camada-2: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 20px;
}

body {
  background-color: var(--backg-color);
  color: var(--text-color);
  font-family: Inter;
  padding-top: 72px;
  overflow-x: hidden;
}

main {
  width: 100%;
  min-height: 100%;
}
main section.padding {
  padding-left: 20px;
  padding-right: 20px;
}

[data-aos] {
  position: relative;
  z-index: 0;
}

h1, h2, h3, h4 {
  font: inherit;
  font-family: "Josefin Sans Regular";
}

.h1 {
  font-size: 2em;
}

.h2 {
  font-size: 1.75em;
}

.h3 {
  font-size: 1.5em;
}

.h4 {
  font-size: 1.1em;
}

p.text {
  margin-block: 8px;
  font-size: 1em;
}

.JSMedium {
  font-family: "Josefin Sans Medium";
}

a {
  text-decoration: none;
  color: var(--link-color);
}
a .underline:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

button {
  cursor: pointer;
  font-family: "Josefin Sans Medium";
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #7B7B7B;
  border-radius: 20px;
}

.animation-title {
  width: fit-content;
  /*Animação*/
  --b: 0.1em; /* A grossura da linha */
  --c: var(--second-color); /* A cor da linha*/
  color: var(--text-color-80);
  padding-block: var(--b);
  background: linear-gradient(var(--c) 50%, var(--text-color-80) 0) 0% calc(100% - var(--_p, 0%))/100% 200%, linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));
}

.animation-title:hover {
  --_p: 100%;
  --_s: .3s;
}

.animation-link {
  --b: 0.1em; /*A grossura da linha*/
  --c: #ffffff; /*A cor da linha*/
  padding-block: var(--b);
  background: linear-gradient(var(--c) 50%, rgb(255, 255, 255) 0) 0% calc(100% - var(--_p, 0%))/100% 200%, linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));
}
.animation-link:hover {
  --_p: 100%;
  --_s: .3s;
}

.fade {
  transition: all 0.2s ease-in-out;
}

.animation-scale {
  transition: all 0.2s ease-in-out;
}
.animation-scale:hover {
  transform: scale(1.03);
}
.animation-scale:active {
  transform: scale(0.98);
}

.display-425px {
  display: none;
}

@media only screen and (min-width: 1440px) {
  html {
    font-size: 22px;
  }
}
@media only screen and (max-width: 1024px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (max-width: 425px) {
  html {
    font-size: 14px;
  }
  .display-425px {
    display: initial;
  }
  .ocult-425px {
    display: none;
  }
}

/*# sourceMappingURL=base.css.map */
