@font-face {
  font-family: "Josefin Sans Regular";
  src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "Josefin Sans Medium";
  src: url(../fonts/JosefinSans/JosefinSans-Medium.ttf);
}
@font-face {
  font-family: "Josefin Sans Light";
  src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
}
@font-face {
  font-family: "Josefin Sans Bold";
  src: url(../fonts/JosefinSans/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: "Josefin Sans SemiBold";
  src: url(../fonts/JosefinSans/JosefinSans-SemiBold.ttf);
}
@font-face {
  font-family: "Josefin Sans Bold Italic";
  src: url(../fonts/JosefinSans/JosefinSans-BoldItalic.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-Regular.ttf);
}
@font-face {
  font-family: InterSemiBold;
  src: url(../fonts/Inter/Inter-SemiBold.ttf);
}
:root {
  --width-box-title1: 500px;
  --font-size-box-title1: 1.8em;
  --width-box-title2: 490px;
  --font-size-box-title2: 1.7em;
  --width-box-title3: 300px;
  --font-size-box-title3: 1.1em;
  --width-mais-tocadas: 480px;
  --font-size-box-title3: 1.6em;
  --height-sandy-danny: 95vh;
  --backg-color: #FEFCF3;
  --text-color: #000000;
  --text-color-50: #00000080;
  --text-color-80: #000000cc;
  --link-color: #45CFE1;
  --active-link-color: #6406ff;
  --second-color: #4925B0;
  --second-color-50: #4925B080;
  --third-color: #00109d;
  --sect-par-backg-color: #000;
  --sect-par-text-color: #fff;
  --fieldset-color: #B6B6B6;
  --backg-form: #EFEFEF;
  --backg-camada-2: white;
}

.darkmode:root {
  --backg-color: #000000;
  --text-color: #FEFCF3;
  --text-color-50: #FFFFFF80;
  --text-color-80: #FFFFFFcc;
  --second-color: #8F00FF;
  --second-color-50: #9000ff74;
  --third-color: #C6A4FF;
  --backg-form: #000000;
  --backg-camada-2: #000000;
}

.wrapper-content-main {
  padding: 35px 0 40px 0;
}
.wrapper-content-main .padding {
  padding: 20px;
}
.wrapper-content-main .box-title1 {
  max-width: 500px;
}
.wrapper-content-main .box-title1 h1 {
  letter-spacing: 0.15em;
  line-height: 1.2em;
}
.wrapper-content-main .box-title1 h1 span.color {
  color: var(--third-color);
  background-color: var(--second-color-50);
  padding: 7px;
}
.wrapper-content-main .box-title1 .subtitle {
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.6);
}
.wrapper-content-main .box-title1 span.italic {
  font-style: italic;
}
.wrapper-content-main .box-title2 {
  max-width: 480px;
}
.wrapper-content-main .box-title2 h2 {
  letter-spacing: 0.1em;
  line-height: 1.2;
}
.wrapper-content-main .box-title2 h2 span {
  color: var(--second-color);
}
.wrapper-content-main .box-title2 h3.subtitle {
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 5px;
}
.wrapper-content-main .box-title3 {
  max-width: 350px;
}
.wrapper-content-main .box-title3 h3 {
  font-family: "Josefin Sans Bold Italic";
  letter-spacing: 0.1em;
  line-height: 1.1em;
}
.wrapper-content-main .box-title3 h3 span {
  color: var(--second-color);
}
.wrapper-content-main .border-box {
  border: 7px solid var(--text-color);
}
.wrapper-content-main .btn-home {
  width: 100%;
  max-width: 400px;
  font-size: 1rem;
  min-height: 45px;
  height: 2em;
  border: none;
  border-radius: 100px;
  background-color: var(--text-color);
  color: var(--backg-color);
}
.wrapper-content-main .btn-retro {
  color: var(--backg-color);
  background: rgb(2, 0, 36);
  background: linear-gradient(75deg, var(--text-color) 0%, var(--text-color) 77%, rgb(156, 41, 61) 77%, rgb(156, 41, 61) 83%, rgb(247, 158, 82) 83%, rgb(247, 158, 82) 89%, rgb(59, 164, 172) 89%, rgb(59, 164, 172) 94%, rgb(39, 61, 98) 94%);
}
.wrapper-content-main .mais-tocadas {
  max-width: var(--width-mais-tocadas);
  width: 80%;
}
.wrapper-content-main .mais-tocadas h3 {
  font-size: calc(var(--font-size-box-title3) * 0.75);
  font-family: "Josefin Sans Bold";
  text-align: center;
  letter-spacing: 0.1em;
  padding-right: 27px;
}
.wrapper-content-main .mais-tocadas .container-itens {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper-content-main .mais-tocadas .container-itens .item {
  font-family: "Josefin Sans Regular";
  font-size: calc(var(--font-size-box-title3) * 0.6);
  margin-top: 20px;
  padding: 12.5px;
  padding-right: 50px;
  border: 1px solid white;
  border-radius: 30px;
  cursor: pointer;
}
.wrapper-content-main.side-bar {
  display: flex;
  gap: 20px;
}
.wrapper-content-main.side-bar.side-bar-style-1::before {
  content: none;
  min-width: 5px;
  background-color: var(--second-color);
}
.wrapper-content-main.side-bar.side-bar-style-1::after {
  content: "";
  min-width: 5px;
  background-color: var(--second-color);
}
.wrapper-content-main.side-bar.side-bar-style-2::before {
  content: none;
  min-width: 8px;
  background-color: #FFF;
}
.wrapper-content-main.side-bar.side-bar-style-3::before {
  content: "";
  min-width: 8px;
  background-color: var(--sect-par-backg-color);
}

@media only screen and (min-width: 1024px) {
  .wrapper-content-main .box-title1 {
    width: 55%;
    max-width: 700px;
  }
  .wrapper-content-main .box-title2 {
    max-width: 45%;
  }
  .wrapper-content-main .box-title3 {
    max-width: 35%;
  }
  .wrapper-content-main .btn-home {
    height: 2.5em;
  }
}
@media only screen and (max-width: 425px) {
  .wrapper-content-main.side-bar.side-bar-style-1::before {
    content: "";
  }
  .wrapper-content-main.side-bar.side-bar-style-1::after {
    content: none;
  }
  .wrapper-content-main.side-bar.side-bar-style-2::before {
    content: "";
  }
  .wrapper-content-main .border-box {
    border: none;
  }
  .wrapper-content-main .padding {
    padding: 0;
  }
}

/*# sourceMappingURL=box-content.css.map */
