@charset "UTF-8";
@font-face {
  font-family: "Josefin Sans Regular";
  src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "Josefin Sans Medium";
  src: url(../fonts/JosefinSans/JosefinSans-Medium.ttf);
}
@font-face {
  font-family: "Josefin Sans Light";
  src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
}
@font-face {
  font-family: "Josefin Sans Bold";
  src: url(../fonts/JosefinSans/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: "Josefin Sans SemiBold";
  src: url(../fonts/JosefinSans/JosefinSans-SemiBold.ttf);
}
@font-face {
  font-family: "Josefin Sans Bold Italic";
  src: url(../fonts/JosefinSans/JosefinSans-BoldItalic.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-Regular.ttf);
}
@font-face {
  font-family: InterSemiBold;
  src: url(../fonts/Inter/Inter-SemiBold.ttf);
}
:root {
  --width-box-title1: 500px;
  --font-size-box-title1: 1.8em;
  --width-box-title2: 490px;
  --font-size-box-title2: 1.7em;
  --width-box-title3: 300px;
  --font-size-box-title3: 1.1em;
  --width-mais-tocadas: 480px;
  --font-size-box-title3: 1.6em;
  --height-sandy-danny: 95vh;
  --backg-color: #FEFCF3;
  --text-color: #000000;
  --text-color-50: #00000080;
  --text-color-80: #000000cc;
  --link-color: #45CFE1;
  --second-color: #4925B0;
  --second-color-50: #4a25b085;
  --third-color: #00109d;
  --sect-par-backg-color: #000;
  --sect-par-text-color: #fff;
  --fieldset-color: #B6B6B6;
  --backg-form: #EFEFEF;
  --backg-camada-2: white;
}

.darkmode:root {
  --backg-color: #000000;
  --text-color: #FEFCF3;
  --text-color-50: #FFFFFF80;
  --text-color-80: #FFFFFFcc;
  --second-color: #8F00FF;
  --second-color-50: #9000ff74;
  --third-color: #C6A4FF;
  --backg-form: #000000;
  --backg-camada-2: #000000;
}

.carrossel-musica {
  margin: 15px 0px 15px 0;
  /* Botão das setas */
}
.carrossel-musica #carousel-title {
  letter-spacing: 3px;
  text-decoration: underline;
  text-underline-offset: 5px;
  margin-bottom: 20px;
}
.carrossel-musica .opacity {
  position: absolute;
  z-index: 1;
  top: 17%;
  right: 0;
  height: 190px;
  width: 110px;
  background-color: rgba(0, 0, 0, 0.6);
  filter: blur(6px);
}
.carrossel-musica .splide__slide {
  background-color: transparent;
  font-size: 0.78em;
  width: 100%;
  transition: transform ease-in-out 0.15s;
}
.carrossel-musica .splide__slide .wait_api {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: var(--wait);
}
.carrossel-musica .splide__slide:hover {
  transform: scale(1.03) translate(1.5px, 3px);
}
.carrossel-musica .splide__slide img {
  width: 100%;
}
.carrossel-musica .splide__slide .nome_musica {
  margin-top: 0.5em;
  font-family: "Josefin Sans Bold";
  font-size: 1em;
}
.carrossel-musica .splide__slide .autor_musica {
  font-family: "Josefin Sans Regular";
  font-size: 0.9em;
  margin-top: 0.3em;
}
.carrossel-musica .splide__arrows {
  /* Seta pra direita */
}
.carrossel-musica .splide__arrows .splide__arrow {
  background: transparent;
  opacity: 1;
}
.carrossel-musica .splide__arrows .splide__arrow svg {
  fill: rgb(255, 255, 255);
}
.carrossel-musica .splide__arrows .splide__arrow--next {
  top: 14px;
  right: 10px;
}
.carrossel-musica .splide__arrows .splide__arrow--prev {
  top: 14px;
  right: 40px;
  left: unset;
}

@media only screen and (max-width: 425px) {
  .carrossel-musica #carousel-title {
    text-decoration: none;
  }
  .carrossel-musica .slider-progress {
    background: #292929;
    margin-top: 20px;
  }
  .carrossel-musica .slider-progress .slider-progress-bar {
    background-color: #fff;
    height: 4px;
    transition: width 400ms ease;
    width: 0;
  }
  .carrossel-musica .splide__arrows {
    display: none;
  }
  .opacity {
    display: none;
  }
}
.carrossel-playlists .splide__slide {
  min-height: 150px;
  aspect-ratio: 53/24;
  position: relative;
}
.carrossel-playlists .splide__slide .slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom right;
}
.carrossel-playlists .splide__slide .slide#slide-1 {
  background-color: #00F4BE;
  color: #D022FC;
  background-image: url("../imgs/carrossel/playlist/banner-1-pequeno.png");
}
.carrossel-playlists .splide__slide .slide#slide-2 {
  background-color: #FF3263;
  color: #F8E00F;
  background-image: url("../imgs/carrossel/playlist/banner-2-pequeno.png");
}
.carrossel-playlists .splide__slide .slide#slide-3 {
  background-color: #FFD5BC;
  color: #FF8B03;
  background-image: url("../imgs/carrossel/playlist/banner-3-pequeno.png");
}
.carrossel-playlists .splide__slide .slide .wrapper-text {
  width: 45%;
  margin: 10px;
}
.carrossel-playlists .splide__slide .slide .wrapper-text h2 {
  font-family: "Josefin Sans SemiBold";
}
.carrossel-playlists .splide__slide .slide .wrapper-text p {
  font-family: "Josefin Sans Bold";
  font-size: 0.7em;
}
.carrossel-playlists .splide__slide .banner {
  display: none;
}
.carrossel-playlists .splide__slide .click-playlist {
  position: absolute;
  top: -40px;
  z-index: 3;
  height: calc(100% + 40px);
  width: 100%;
}

@media only screen and (min-width: 375px) {
  .carrossel-playlists .slide {
    background-image: none !important;
  }
  .carrossel-playlists .splide__slide {
    position: relative;
    margin-top: 40px;
  }
  .carrossel-playlists .splide__slide .banner {
    display: block !important;
    position: absolute;
    bottom: 0;
    right: 0;
    height: calc(100% + 40px);
  }
}
.carrosel-personagens {
  /* Título do carrosel */
  /* Todos os slides */
  /* Os slides visiveis vão ter 100% de opacidade  */
  /* CONTEUDO DO SLIDE */
  /* Botão das setas */
  /* SVG das setas */
  /* Seta pra direita */
  /* Seta pra esquerda */
  /* Tirar as bolinhas de paginação */
}
.carrosel-personagens #carousel-title {
  font-family: JosefinsSansRegular;
  font-weight: normal;
  letter-spacing: 3px;
  text-decoration: underline;
  text-underline-offset: 4.5px;
  margin-bottom: 20px;
}
.carrosel-personagens .splide__slide {
  background-color: transparent;
  color: rgba(255, 255, 255, 0);
  /* Todos os slides vão ter 40% de opacidade */
  opacity: 0.4;
  font-size: 14px;
}
.carrosel-personagens .is-visible {
  opacity: 1;
  color: white;
}
.carrosel-personagens .splide__slide img {
  width: 100%;
  margin-bottom: 8px;
}
.carrosel-personagens .splide__arrow {
  opacity: 1;
  background: transparent;
}
.carrosel-personagens .splide__arrow svg {
  fill: rgb(255, 255, 255);
}
.carrosel-personagens .splide__arrow--next {
  top: 14px;
  right: 10px;
}
.carrosel-personagens .splide__arrow--prev {
  top: 14px;
  right: 40px;
  left: unset;
}
.carrosel-personagens .splide__pagination {
  display: none;
}

@media only screen and (max-width: 425px) {
  .carrossel-playlists {
    display: block;
  }
}

/*# sourceMappingURL=carrossel.css.map */
