#area {
  position: absolute;
  bottom: 0;
  background-color: #EEEEEE;
  color: black;
  border: none;
  border-radius: 15px 15px 0 0;
  width: 100%;
}
#area .header {
  border-bottom: 2px solid rgba(67, 62, 62, 0.1);
  text-align: center;
  padding: 15px 0 15px 0;
}
#area .header h2 {
  font-size: 1.5em;
}
#area .header-quant-coment {
  border-bottom: 2px solid rgba(67, 62, 62, 0.1);
  padding: 7px 0 0 0;
}
#area .header-quant-coment h3 {
  width: fit-content;
  border-bottom: 2px solid var(--second-color);
  padding-left: 35px;
  font-size: 1.25em;
  transform: translateY(2px);
  padding-bottom: 7px;
}
#area #ifr {
  background-color: #EEEEEE;
}
#area #but {
  border-top: solid;
  border-top-color: #E6E6E6;
}
#area .container-comentario {
  max-height: 300px;
  overflow-y: scroll;
  color: black;
  padding: 0 30px 0 30px;
  margin: 20px 15px 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#area .container-comentario .wrapper-comentario {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  max-width: 100%;
  display: flex;
}
#area .container-comentario .wrapper-comentario .img-user {
  height: 50px;
  margin-right: 10px;
  background-color: #000000;
  border-radius: 30px;
}
#area .container-comentario .wrapper-comentario .img-user img {
  height: 100%;
  border-radius: 30px;
  aspect-ratio: 1/1;
}
#area .container-comentario .wrapper-comentario .content {
  word-break: break-word;
}
#area .container-comentario .wrapper-comentario .content .name-user {
  margin-bottom: 6px;
}
#area .container-comentario .wrapper-comentario .content .comentario {
  color: #686868;
  padding-left: 10px;
}
#area .container-comentario::-webkit-scrollbar {
  width: 4px;
}
#area .container-comentario::-webkit-scrollbar-track {
  background: #E6E6E6;
}
#area .container-comentario::-webkit-scrollbar-thumb {
  background-color: #7B7B7B;
  border-radius: 20px;
}
#area #divComent {
  background-color: #EEEEEE;
  border: none;
  border-radius: 15px;
  width: 100%;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
}
#area #divComent form {
  gap: 20px;
}
#area #divComent form .wrapper-input {
  width: 70%;
  position: relative;
}
#area #divComent form .wrapper-input #input-comentario {
  background-color: #E6E6E6;
  border: none;
  border-radius: 50px;
  outline: none;
  height: 40px;
  width: 100%;
  padding-left: 15px;
  padding-right: 45px;
  font-size: 0.85em;
  color: #686868;
}
#area #divComent form .wrapper-input .carac-faltando {
  display: none;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 0.85em;
  color: #686868;
}
#area #divComent form .wrapper-input .msg-erro {
  color: rgb(255, 89, 89);
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
#area #divComent button {
  all: unset;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
}
#area #divComent button img {
  height: 100%;
  aspect-ratio: 1/1;
}
#area #divComent .emoji-button {
  font-size: 30px;
  height: 40px;
  aspect-ratio: 1/1;
  cursor: pointer;
  background-image: url("../imgs/home/comentarios/emoji.png");
  background-size: cover;
}
#area #divComent .emoji-list {
  display: none;
  position: absolute;
  bottom: 50px;
  right: 10px;
  left: 10px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 4px 4px 10px rgba(62, 62, 62, 0.405);
}
#area #divComent .emoji-list span {
  cursor: pointer;
  font-size: 20px;
}
#area #divComent .emoji-list.mostrar {
  display: block;
}

/*# sourceMappingURL=comentarios.css.map */
