@font-face {
  font-family: "Josefin Sans Regular";
  src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "Josefin Sans Medium";
  src: url(../fonts/JosefinSans/JosefinSans-Medium.ttf);
}
@font-face {
  font-family: "Josefin Sans Light";
  src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
}
@font-face {
  font-family: "Josefin Sans Bold";
  src: url(../fonts/JosefinSans/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: "Josefin Sans SemiBold";
  src: url(../fonts/JosefinSans/JosefinSans-SemiBold.ttf);
}
@font-face {
  font-family: "Josefin Sans Bold Italic";
  src: url(../fonts/JosefinSans/JosefinSans-BoldItalic.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-Regular.ttf);
}
@font-face {
  font-family: InterSemiBold;
  src: url(../fonts/Inter/Inter-SemiBold.ttf);
}
:root {
  --width-box-title1: 500px;
  --font-size-box-title1: 1.8em;
  --width-box-title2: 490px;
  --font-size-box-title2: 1.7em;
  --width-box-title3: 300px;
  --font-size-box-title3: 1.1em;
  --width-mais-tocadas: 480px;
  --font-size-box-title3: 1.6em;
  --height-sandy-danny: 95vh;
  --backg-color: #FEFCF3;
  --text-color: #000000;
  --text-color-50: #00000080;
  --text-color-80: #000000cc;
  --link-color: #45CFE1;
  --second-color: #6ba5f2;
  --second-color-50: #6ba5f280;
  --third-color: #00109d;
  --sect-par-backg-color: #000;
  --sect-par-text-color: #fff;
  --fieldset-color: #B6B6B6;
  --backg-form: #EFEFEF;
  --backg-camada-2: white;
}

.darkmode:root {
  --backg-color: #121111;
  --text-color: #FEFCF3;
  --text-color-50: #FFFFFF80;
  --text-color-80: #FFFFFFcc;
  --second-color: #A167FF;
  --second-color-50: #A167FF80;
  --third-color: #C6A4FF;
  --backg-form: #242424;
  --backg-camada-2: #121111;
}

/* DIV - ESQUERDA */
div.content {
  /* DIV - DIREITA */
}
div.content div.form-left {
  height: 100vh;
  width: 45%;
  float: left;
  background: no-repeat url(../imgs/cadastro/background4.png);
  background-position-y: center;
  background-size: cover;
}
div.content div.form-right {
  margin: 0 auto;
  height: 100vh;
  min-height: 600px;
  width: 55%;
  float: right;
}
div.content div.form-right .cabecalho {
  display: none;
  min-height: 40px;
  height: 300px;
  width: 100%;
  position: relative;
}
div.content div.form-right .cabecalho #back {
  height: 20px;
  position: absolute;
  top: 10%;
  left: 5%;
  cursor: pointer;
}
div.content div.form-right .cabecalho .components {
  position: absolute;
}
div.content div.form-right .cabecalho #component1 {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
div.content div.form-right .cabecalho #component2 {
  right: 0;
}
div.content div.form-right .cabecalho #component3 {
  right: 0;
  top: 50%;
  transform: translateY(-25%);
}
div.content div.form-right .cabecalho #component4 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.content div.form-right form {
  height: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-top: 25px;
}
div.content div.form-right form h2 {
  margin: 0 auto;
}
div.content div.form-right form .form-camada-2 {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.content div.form-right form .form-camada-2 .conteiner-input {
  max-width: 550px;
  width: 75%;
  padding: 40px 0 0 0;
}
div.content div.form-right form .form-camada-2 .conteiner-input:first-child {
  padding: 0;
}
div.content div.form-right form .form-camada-2 .conteiner-input fieldset {
  border: none;
  margin-bottom: 5px;
}
div.content div.form-right form .form-camada-2 .conteiner-input fieldset legend {
  text-align: left;
  padding: 0 10px 0 10px;
  display: none;
  font-size: 1em;
}
div.content div.form-right form .form-camada-2 .conteiner-input input {
  width: 100%;
  height: 60px;
  border: 0;
  font-size: 1em;
}
div.content div.form-right form .form-camada-2 .conteiner-input .input_form {
  background: transparent;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color-50);
  outline: none;
}
div.content div.form-right form .form-camada-2 .conteiner-input .input_form::placeholder {
  color: var(--text-color-50);
}
div.content div.form-right form .form-camada-2 .conteiner-input .input_form::-ms-reveal {
  display: none;
}
div.content div.form-right form .form-camada-2 .conteiner-input .button_form {
  margin: 0px 0 15px 0;
  color: white;
  background-color: var(--second-color);
  font-size: 1em;
}
div.content div.form-right form .form-camada-2 .conteiner-input .msg_erro {
  color: rgb(255, 89, 89);
}
div.content div.form-right form .form-camada-2 .conteiner-input .msg_erro i {
  color: rgb(255, 89, 89);
  margin-right: 5px;
}
div.content div.form-right form .form-camada-2 p {
  text-align: center;
  font-family: InterSemiBold;
  color: var(--text-color-80);
}

@media only screen and (max-width: 800px) {
  body {
    padding: 0;
  }
  .disable-navbar {
    display: none;
  }
  div.form-left {
    visibility: hidden;
    display: none;
  }
  div.form-right {
    float: none;
    width: 100% !important;
    min-height: 900px;
    background-color: var(--second-color);
  }
  div.form-right .cabecalho {
    display: block !important;
  }
  div.form-right form {
    background-color: var(--backg-form);
    width: 100%;
    padding: 0 !important;
    border-radius: 35px 35px 0 0;
  }
  div.form-right form .conteiner-h2 {
    padding: 25px 0 25px;
  }
  div.form-right form .form-camada-2 {
    background-color: var(--backg-camada-2);
    border-radius: 35px 35px 0 0;
    height: 100%;
    padding-top: 11vh !important;
  }
  div.form-right form .form-camada-2 .conteiner-input {
    width: 100% !important;
  }
  div.form-right form .form-camada-2 .conteiner-input fieldset {
    border: 2px solid var(--fieldset-color) !important;
    color: var(--fieldset-color);
    padding: 0 10px 0 10px;
  }
  div.form-right form .form-camada-2 .conteiner-input fieldset:focus-within {
    border-color: var(--second-color) !important;
    color: var(--second-color) !important;
  }
  div.form-right form .form-camada-2 .conteiner-input fieldset legend {
    display: initial !important;
  }
  div.form-right form .form-camada-2 .conteiner-input input {
    transform: none !important;
  }
  div.form-right form .form-camada-2 .conteiner-input .input_form {
    border: none !important;
    position: relative;
    transform: translateY(-7.5%) !important;
    height: 50px !important;
  }
  div.form-right form .form-camada-2 .conteiner-input .input_form::placeholder {
    color: transparent !important;
  }
  div.form-right form .form-camada-2 .conteiner-input .button_form {
    border-radius: 30px;
  }
}
@media only screen and (max-height: 715px) {
  div.form-left {
    visibility: hidden;
    display: none;
  }
  div.form-right {
    float: none;
    width: 100% !important;
    height: 100%;
  }
}

/*# sourceMappingURL=form.css.map */
