@font-face {
  font-family: JosefinSansRegular;
  src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: JosefinSansMedium;
  src: url(../fonts/JosefinSans/JosefinSans-Medium.ttf);
}
@font-face {
  font-family: JosefinSansLight;
  src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
}
@font-face {
  font-family: JosefinSansBold;
  src: url(../fonts/JosefinSans/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: JosefinSansBoldItalic;
  src: url(../fonts/JosefinSans/JosefinSans-BoldItalic.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-Regular.ttf);
}
:root {
  --width-box-title1: 500px;
  --font-size-box-title1: 2.2rem;
  --width-box-title2: 490px;
  --font-size-box-title2: 2rem;
  --width-box-title3: 300px;
  --font-size-box-title3: 1.6rem;
  --height-sandy-danny: 95vh;
  --backg-color: #FEFCF3;
  --text-color: #000000;
  --text-color-50: #00000080;
  --text-color-80: #000000cc;
  --link-color: #45CFE1;
  --second-color: #6ba5f2;
  --second-color-50: #6ba5f280;
  --third-color: #00109d;
  --sect-par-backg-color: #000;
  --sect-par-text-color: #fff;
}

.darkmode:root {
  --backg-color: #121111;
  --text-color: #FEFCF3;
  --text-color-50: #FFFFFF80;
  --text-color-80: #FFFFFFcc;
  --second-color: #A167FF;
  --second-color-50: #A167FF80;
  --third-color: #C6A4FF;
}

@media (min-width: 1141px) {
  :root {
    --width-box-title1: calc(500px * 1.2);
    --font-size-box-title1: calc(2.2rem * 1.2);
    --width-box-title2: calc(450px * 1.3);
    --font-size-box-title2: calc(2rem * 1.2);
    --width-box-title3: calc(300px * 1.2);
    --font-size-box-title3: calc(1.6rem * 1.2);
  }
}
@media (min-width: 1350px) {
  :root {
    --width-box-title1: calc(500px * 1.4);
    --font-size-box-title1: calc(2.2rem * 1.4);
    --width-box-title2: calc(450px * 1.4);
    --font-size-box-title2: calc(2rem * 1.4);
    --width-box-title3: calc(300px * 1.4);
    --font-size-box-title3: calc(1.6rem * 1.4);
  }
}
@media (min-width: 1600px) {
  :root {
    --width-box-title1: calc(500px * 1.6);
    --font-size-box-title1: calc(2.2rem * 1.6);
    --width-box-title2: calc(450px * 1.6);
    --font-size-box-title2: calc(2rem * 1.6);
    --width-box-title3: calc(300px * 1.6);
    --font-size-box-title3: calc(1.6rem * 1.6);
  }
}
/* DIV - ESQUERDA */
div.left {
  height: 100vh;
  width: 55%;
  float: left;
}

div.backg-image-logcad {
  background: no-repeat url(../imgs/cadastro/background4.png);
  background-position-y: center;
  background-size: cover;
}

/* DIV - DIREITA */
div.right {
  margin: 0 auto;
  height: 100vh;
  width: 45%;
  float: right;
}

div.right form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input_form, .button_form {
  height: 60px;
  min-height: 60px;
  width: 70%;
  max-width: 450px;
  border: 0;
}

.input_form {
  border-bottom: 1px solid var(--text-color);
  margin-top: 40px;
  background: 0;
  color: var(--text-color-80);
}

::-ms-reveal {
  display: none;
}

.input_form::placeholder {
  color: var(--text-color-80);
}

.input_form:focus {
  outline: none;
}

.input_form:hover {
  transform: scale(1.02, 1.02);
}

.button_form {
  border: 0;
  background: var(--second-color);
  color: white;
  margin: 30px 0 10px 0;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.button_form:hover {
  background-color: var(--second-color);
  transform: scale(1.03);
}
.button_form:active {
  transform: scale(0.98);
}

.msg_erro {
  width: 70%;
  max-width: 450px;
  text-align: left;
  margin-top: 8px;
  color: rgb(255, 89, 89);
}

.msg_erro i {
  color: rgb(255, 89, 89);
  margin-right: 5px;
}

i.eye {
  position: relative;
}

@media only screen and (max-width: 800px) {
  div.left {
    visibility: hidden;
    display: none;
  }
  div.right {
    float: none;
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-height: 500px) {
  div.left {
    visibility: hidden;
    display: none;
  }
  div.right {
    float: none;
    width: 100%;
    height: 100%;
    padding: 35px 0 20px 0;
  }
}

/*# sourceMappingURL=form.css.map */
