@font-face {
  font-family: "Josefin Sans Regular";
  src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "Josefin Sans Medium";
  src: url(../fonts/JosefinSans/JosefinSans-Medium.ttf);
}
@font-face {
  font-family: "Josefin Sans Light";
  src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
}
@font-face {
  font-family: "Josefin Sans Bold";
  src: url(../fonts/JosefinSans/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: "Josefin Sans SemiBold";
  src: url(../fonts/JosefinSans/JosefinSans-SemiBold.ttf);
}
@font-face {
  font-family: "Josefin Sans Bold Italic";
  src: url(../fonts/JosefinSans/JosefinSans-BoldItalic.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-Regular.ttf);
}
@font-face {
  font-family: InterSemiBold;
  src: url(../fonts/Inter/Inter-SemiBold.ttf);
}
:root {
  --width-box-title1: 500px;
  --font-size-box-title1: 1.8em;
  --width-box-title2: 490px;
  --font-size-box-title2: 1.7em;
  --width-box-title3: 300px;
  --font-size-box-title3: 1.1em;
  --width-mais-tocadas: 480px;
  --font-size-box-title3: 1.6em;
  --height-sandy-danny: 95vh;
  --backg-color: #FEFCF3;
  --text-color: #000000;
  --text-color-50: #00000080;
  --text-color-80: #000000cc;
  --link-color: #45CFE1;
  --second-color: #6ba5f2;
  --second-color-50: #6ba5f280;
  --third-color: #00109d;
  --sect-par-backg-color: #000;
  --sect-par-text-color: #fff;
  --fieldset-color: #B6B6B6;
  --backg-form: #EFEFEF;
  --backg-camada-2: white;
}

.darkmode:root {
  --backg-color: #121111;
  --text-color: #FEFCF3;
  --text-color-50: #FFFFFF80;
  --text-color-80: #FFFFFFcc;
  --second-color: #A167FF;
  --second-color-50: #A167FF80;
  --third-color: #C6A4FF;
  --backg-form: #242424;
  --backg-camada-2: #121111;
}

section {
  height: calc(100vh - 4.5em);
}
section.section-theme-black {
  background-color: var(--sect-par-backg-color);
  color: var(--sect-par-text-color);
}
section.section-theme-black .border-box {
  border-color: rgb(255, 255, 255);
}
section.section1 {
  min-height: 520px;
  position: relative;
}
section.section1 .sandy-danny {
  position: absolute;
  width: 40vw;
  min-width: 400px;
  bottom: 0;
  right: 0;
  z-index: -1;
}
section.section2 {
  min-height: 820px;
}
section.section2 .retro-line {
  background-image: url("../imgs/home/retro-line.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
section.section3 {
  min-height: 450px;
}

.flex-collumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}

/* RESPONSIVIDADE */
@media only screen and (max-width: 840px) {
  .sandy-danny {
    display: none !important;
  }
}
@media only screen and (max-width: 900px) {
  .retro-line {
    background: none !important;
  }
}
@media only screen and (max-width: 425px) {
  section.section2 {
    min-height: 1000px;
    padding-bottom: 120px;
    background-image: url("../imgs/home/section-2-bottom.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom right;
  }
}

/*# sourceMappingURL=home.css.map */
