@font-face {
  font-family: JosefinSansRegular;
  src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: JosefinSansMedium;
  src: url(../fonts/JosefinSans/JosefinSans-Medium.ttf);
}
@font-face {
  font-family: JosefinSansLight;
  src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
}
@font-face {
  font-family: JosefinSansBoldItalic;
  src: url(../fonts/JosefinSans/JosefinSans-BoldItalic.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-Regular.ttf);
}
:root {
  --width-box-title1: 500px;
  --font-size-box-title1: 2.2rem;
  --width-box-title2: 450px;
  --font-size-box-title2: 2rem;
  --width-box-title3: 300px;
  --font-size-box-title3: 1.6rem;
  --height-sandy-danny: 95vh;
  --backg-color: #FEFCF3;
  --text-color: #000000;
  --text-color-50: #00000080;
  --text-color-80: #000000cc;
  --link-color: #45CFE1;
  --second-color: #6ba5f2;
  --second-color-50: #6ba5f280;
  --third-color: #00109d;
  --sect-par-backg-color: #000;
  --sect-par-text-color: #fff;
}

.darkmode:root {
  --backg-color: #121111;
  --text-color: #FEFCF3;
  --text-color-50: #FFFFFF80;
  --text-color-80: #FFFFFFcc;
  --second-color: #A167FF;
  --second-color-50: #A167FF80;
  --third-color: #C6A4FF;
}

@media (min-width: 1141px) {
  :root {
    --width-box-title1: calc(500px * 1.2);
    --font-size-box-title1: calc(2.2rem * 1.2);
    --width-box-title2: calc(450px * 1.2);
    --font-size-box-title2: calc(2rem * 1.2);
    --width-box-title3: calc(300px * 1.2);
    --font-size-box-title3: calc(1.6rem * 1.2);
  }
}
@media (min-width: 1350px) {
  :root {
    --width-box-title1: calc(500px * 1.4);
    --font-size-box-title1: calc(2.2rem * 1.4);
    --width-box-title2: calc(450px * 1.4);
    --font-size-box-title2: calc(2rem * 1.4);
    --width-box-title3: calc(300px * 1.4);
    --font-size-box-title3: calc(1.6rem * 1.4);
  }
}
@media (min-width: 1600px) {
  :root {
    --width-box-title1: calc(500px * 1.6);
    --font-size-box-title1: calc(2.2rem * 1.6);
    --width-box-title2: calc(450px * 1.6);
    --font-size-box-title2: calc(2rem * 1.6);
    --width-box-title3: calc(300px * 1.6);
    --font-size-box-title3: calc(1.6rem * 1.6);
  }
}
.padding-box-title {
  padding: 35px 35px 10px 35px;
}
.padding-box-title div {
  width: auto;
  padding: 20px;
}
.padding-box-title .box-title1 {
  max-width: var(--width-box-title1);
}
.padding-box-title .box-title1 h1 {
  font-size: var(--font-size-box-title1);
  font-family: JosefinSansMedium;
  letter-spacing: 0.15em;
  line-height: 1.2em;
}
.padding-box-title .box-title1 h1 span {
  color: var(--third-color);
  background-color: var(--second-color-50);
  padding: 7px;
}
.padding-box-title .box-title2 {
  max-width: var(--width-box-title2);
}
.padding-box-title .box-title2 h2 {
  font-size: var(--font-size-box-title1);
  letter-spacing: 0.1em;
  line-height: 1.2;
}
.padding-box-title .box-title3 {
  max-width: var(--width-box-title3);
}
.padding-box-title .box-title3 h3 {
  font-size: var(--font-size-box-title3);
  font-family: JosefinSansBoldItalic;
  letter-spacing: 0.1em;
  line-height: 1.1em;
}
.padding-box-title .box-title3 h3 span {
  color: var(--second-color);
}
.padding-box-title .border-box {
  border: 7px solid var(--text-color);
}
.padding-box-title button {
  font-size: 1rem;
  padding: 1em 7.1em 1em 7.1em;
  border: none;
  border-radius: 100px;
  background-color: var(--text-color);
  color: var(--backg-color);
}

section {
  height: calc(100vh - 4.5rem);
}
section:first-child .backgr-gradient {
  background: transparent;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 71%, rgba(12, 12, 12, 0.2469362745) 83%, rgba(0, 0, 0, 0.518644958) 100%);
}
section:first-child .sandy-danny {
  position: absolute;
  height: var(--height-sandy-danny);
  bottom: 0;
  right: 0;
  z-index: -1;
}
section:nth-child(2n) {
  background-color: var(--sect-par-backg-color);
  color: var(--sect-par-text-color);
}
section:nth-child(2n) .border-box {
  border-color: rgb(255, 255, 255);
}

/* RESPONSIVIDADE */

/*# sourceMappingURL=home.css.map */
