@font-face {
  font-family: JosefinSansRegular;
  src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: JosefinSansMedium;
  src: url(../fonts/JosefinSans/JosefinSans-Medium.ttf);
}
@font-face {
  font-family: JosefinSansLight;
  src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
}
@font-face {
  font-family: JosefinSansBold;
  src: url(../fonts/JosefinSans/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: JosefinSansBoldItalic;
  src: url(../fonts/JosefinSans/JosefinSans-BoldItalic.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-Regular.ttf);
}
:root {
  --width-box-title1: 500px;
  --font-size-box-title1: 1.8rem;
  --width-box-title2: 490px;
  --font-size-box-title2: 1.7rem;
  --width-box-title3: 300px;
  --font-size-box-title3: 1.1rem;
  --width-mais-tocadas: 480px;
  --font-size-box-title3: 1.6rem;
  --height-sandy-danny: 95vh;
  --backg-color: #FEFCF3;
  --text-color: #000000;
  --text-color-50: #00000080;
  --text-color-80: #000000cc;
  --link-color: #45CFE1;
  --second-color: #6ba5f2;
  --second-color-50: #6ba5f280;
  --third-color: #00109d;
  --sect-par-backg-color: #000;
  --sect-par-text-color: #fff;
  --wait: rgb(50, 50, 50);
}

.darkmode:root {
  --backg-color: #121111;
  --text-color: #FEFCF3;
  --text-color-50: #FFFFFF80;
  --text-color-80: #FFFFFFcc;
  --second-color: #A167FF;
  --second-color-50: #A167FF80;
  --third-color: #C6A4FF;
}

.music-player {
  position: fixed;
  z-index: 4;
  left: 0;
  bottom: 0;
  transition: bottom 0.2s ease;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #121212;
  color: white;
  user-select: none;
  overflow: auto;
}
.music-player .wait-api {
  background-color: var(--wait);
}
.music-player .close-box {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.music-player .close-box .leftright {
  height: 4px;
  width: 40px;
  position: absolute;
  margin-top: 24px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}
.music-player .close-box .rightleft {
  height: 4px;
  width: 40px;
  position: absolute;
  margin-top: 24px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}
.music-player .close-box .close {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in;
  opacity: 0;
  margin: 50px 0 0 -3px;
  position: absolute;
}
.music-player .music-details {
  font-size: 1.3rem;
  margin: 0px 0 40px 0;
  display: flex;
  justify-content: center;
}
.music-player .music-details .container {
  width: 90%;
  max-width: 350px;
}
.music-player .music-details .container .music-image {
  aspect-ratio: 1/1;
  width: 100%;
}
.music-player .music-details .container .music-name {
  font-family: JosefinSansRegular;
  font-size: 1em;
  margin-top: 0.5em;
}
.music-player .music-details .container .music-autor {
  font-family: JosefinSansLight;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8em;
  margin-top: 0.3em;
}
.music-player .option-bar {
  min-height: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.music-player .option-bar .lbox-music {
  display: none;
  height: 80px;
  aspect-ratio: 1/1;
  position: absolute;
  left: 10px;
}
.music-player .option-bar .lbox-music .music-image {
  width: 100%;
  height: 100%;
}

.ocult-player {
  bottom: -100% !important;
}

.disable-scroll {
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: rgb(255, 255, 255);
  }
  .close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
  }
  .close-container:hover label {
    opacity: 1;
  }
  .lbox-music {
    display: block !important;
  }
}

/*# sourceMappingURL=music-player.css.map */
