@charset "UTF-8";
@font-face {
  font-family: JosefinSansRegular;
  src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: JosefinSansMedium;
  src: url(../fonts/JosefinSans/JosefinSans-Medium.ttf);
}
@font-face {
  font-family: JosefinSansLight;
  src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
}
@font-face {
  font-family: JosefinSansBoldItalic;
  src: url(../fonts/JosefinSans/JosefinSans-BoldItalic.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-Regular.ttf);
}
:root {
  --width-box-title1: 500px;
  --font-size-box-title1: 2.2rem;
  --width-box-title2: 490px;
  --font-size-box-title2: 2rem;
  --width-box-title3: 300px;
  --font-size-box-title3: 1.6rem;
  --height-sandy-danny: 95vh;
  --backg-color: #FEFCF3;
  --text-color: #000000;
  --text-color-50: #00000080;
  --text-color-80: #000000cc;
  --link-color: #45CFE1;
  --second-color: #6ba5f2;
  --second-color-50: #6ba5f280;
  --third-color: #00109d;
  --sect-par-backg-color: #000;
  --sect-par-text-color: #fff;
}

.darkmode:root {
  --backg-color: #121111;
  --text-color: #FEFCF3;
  --text-color-50: #FFFFFF80;
  --text-color-80: #FFFFFFcc;
  --second-color: #A167FF;
  --second-color-50: #A167FF80;
  --third-color: #C6A4FF;
}

@media (min-width: 1141px) {
  :root {
    --width-box-title1: calc(500px * 1.2);
    --font-size-box-title1: calc(2.2rem * 1.2);
    --width-box-title2: calc(450px * 1.2);
    --font-size-box-title2: calc(2rem * 1.2);
    --width-box-title3: calc(300px * 1.2);
    --font-size-box-title3: calc(1.6rem * 1.2);
  }
}
@media (min-width: 1350px) {
  :root {
    --width-box-title1: calc(500px * 1.4);
    --font-size-box-title1: calc(2.2rem * 1.4);
    --width-box-title2: calc(450px * 1.4);
    --font-size-box-title2: calc(2rem * 1.4);
    --width-box-title3: calc(300px * 1.4);
    --font-size-box-title3: calc(1.6rem * 1.4);
  }
}
@media (min-width: 1600px) {
  :root {
    --width-box-title1: calc(500px * 1.6);
    --font-size-box-title1: calc(2.2rem * 1.6);
    --width-box-title2: calc(450px * 1.6);
    --font-size-box-title2: calc(2rem * 1.6);
    --width-box-title3: calc(300px * 1.6);
    --font-size-box-title3: calc(1.6rem * 1.6);
  }
}
/* Formatação do navbar */
.navbar {
  font-size: 1rem;
  background: #000000;
  width: 100%;
  height: 4.5rem;
  font-family: JosefinSansLight;
  color: white;
  position: fixed;
  top: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* LISTA DA NAV */
.navbar ul {
  text-align: center;
  height: 4.5rem;
}

/* ITEM DA LISTA DA NAV */
.navlista li {
  display: inline;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

/* Link do navbar */
li a.navitens {
  --b: 0.1em; /*A grossura da linha*/
  --c: #ffffff; /*A cor da linha*/
  padding-block: var(--b);
  color: #ffffff;
  background: linear-gradient(var(--c) 50%, rgb(0, 0, 0) 0) 0% calc(100% - var(--_p, 0%))/100% 200%, linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));
}

.navitens:hover {
  --_p: 100%;
  --_s: .3s;
}

li#grease {
  font-size: 1.3rem; /* 20px*/
  font-family: JosefinSansRegular;
  cursor: default;
}

/* TOGGLE - DARK MODE */
.toggle-button {
  float: left;
  width: 150px;
}

/* NAVBAR que fica à direita */
.navlista-direita {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.navlista-direita li {
  margin-inline-start: 1.5rem;
}

/* Duas linhas no LI */
.duplo-li {
  text-align: right;
}

/* Duas linhas no LI */
/* Formatar apenas o "Sair?" */
.duplo-li a {
  font-size: 0.9rem;
}

/* Formatar apenas o "Sair?" */
/* Foto do usuário no canto da NAV */
.img-user {
  height: 2.5rem;
}

/*# sourceMappingURL=navbar.css.map */
