@charset "UTF-8";
@font-face {
  font-family: "Josefin Sans Regular";
  src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "Josefin Sans Medium";
  src: url(../fonts/JosefinSans/JosefinSans-Medium.ttf);
}
@font-face {
  font-family: "Josefin Sans Light";
  src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
}
@font-face {
  font-family: "Josefin Sans Bold";
  src: url(../fonts/JosefinSans/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: "Josefin Sans SemiBold";
  src: url(../fonts/JosefinSans/JosefinSans-SemiBold.ttf);
}
@font-face {
  font-family: "Josefin Sans Bold Italic";
  src: url(../fonts/JosefinSans/JosefinSans-BoldItalic.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-Regular.ttf);
}
@font-face {
  font-family: InterSemiBold;
  src: url(../fonts/Inter/Inter-SemiBold.ttf);
}
:root {
  --width-box-title1: 500px;
  --font-size-box-title1: 1.8em;
  --width-box-title2: 490px;
  --font-size-box-title2: 1.7em;
  --width-box-title3: 300px;
  --font-size-box-title3: 1.1em;
  --width-mais-tocadas: 480px;
  --font-size-box-title3: 1.6em;
  --height-sandy-danny: 95vh;
  --backg-color: #FEFCF3;
  --text-color: #000000;
  --text-color-50: #00000080;
  --text-color-80: #000000cc;
  --link-color: #45CFE1;
  --second-color: #6ba5f2;
  --second-color-50: #6ba5f280;
  --third-color: #00109d;
  --sect-par-backg-color: #000;
  --sect-par-text-color: #fff;
  --fieldset-color: #B6B6B6;
  --backg-form: #EFEFEF;
  --backg-camada-2: white;
}

.darkmode:root {
  --backg-color: #121111;
  --text-color: #FEFCF3;
  --text-color-50: #FFFFFF80;
  --text-color-80: #FFFFFFcc;
  --second-color: #A167FF;
  --second-color-50: #A167FF80;
  --third-color: #C6A4FF;
  --backg-form: #242424;
  --backg-camada-2: #121111;
}

/* Formatação do navbar */
.navbar {
  font-size: 1rem;
  background: #000000;
  width: 100%;
  height: 4.5em;
  font-family: "Josefin Sans Light";
  color: white;
  position: fixed;
  top: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* LISTA DA NAV */
  /* TOGGLE - DARK MODE */
  /* NAVBAR que fica à direita */
  /* Duas linhas no LI */
  /* Duas linhas no LI */
  /* Formatar apenas o "Sair?" */
  /* Formatar apenas o "Sair?" */
  /* Foto do usuário no canto da NAV */
}
.navbar ul {
  text-align: center;
  height: 4.5em;
  /* ITEM DA LISTA DA NAV */
  /* Link do navbar */
}
.navbar ul li {
  display: inline;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}
.navbar ul li a.navitens {
  --b: 0.1em; /*A grossura da linha*/
  --c: #ffffff; /*A cor da linha*/
  padding-block: var(--b);
  color: #ffffff;
  background: linear-gradient(var(--c) 50%, rgb(0, 0, 0) 0) 0% calc(100% - var(--_p, 0%))/100% 200%, linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));
}
.navbar ul .navitens:hover {
  --_p: 100%;
  --_s: .3s;
}
.navbar ul li#grease {
  font-size: 1.3rem; /* 20px*/
  font-family: "Josefin Sans Regular";
  cursor: default;
}
.navbar .toggle-button {
  float: left;
  width: 150px;
}
.navbar .navlista-direita {
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.navbar .navlista-direita li {
  margin-inline-start: 1.5rem;
}
.navbar .duplo-li {
  text-align: right;
}
.navbar .duplo-li a {
  font-size: 0.9rem;
}
.navbar .img-user {
  height: 2.5rem;
}

/*# sourceMappingURL=navbar-antigo.css.map */
