@font-face {
  font-family: JosefinSansRegular;
  src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: JosefinSansMedium;
  src: url(../fonts/JosefinSans/JosefinSans-Medium.ttf);
}
@font-face {
  font-family: JosefinSansLight;
  src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
}
@font-face {
  font-family: JosefinSansBoldItalic;
  src: url(../fonts/JosefinSans/JosefinSans-BoldItalic.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-Regular.ttf);
}
:root {
  --width-box-title1: 500px;
  --font-size-box-title1: 2.2rem;
  --width-box-title2: 490px;
  --font-size-box-title2: 2rem;
  --width-box-title3: 300px;
  --font-size-box-title3: 1.6rem;
  --height-sandy-danny: 95vh;
  --backg-color: #FEFCF3;
  --text-color: #000000;
  --text-color-50: #00000080;
  --text-color-80: #000000cc;
  --link-color: #45CFE1;
  --second-color: #6ba5f2;
  --second-color-50: #6ba5f280;
  --third-color: #00109d;
  --sect-par-backg-color: #000;
  --sect-par-text-color: #fff;
}

.darkmode:root {
  --backg-color: #121111;
  --text-color: #FEFCF3;
  --text-color-50: #FFFFFF80;
  --text-color-80: #FFFFFFcc;
  --second-color: #A167FF;
  --second-color-50: #A167FF80;
  --third-color: #C6A4FF;
}

@media (min-width: 1141px) {
  :root {
    --width-box-title1: calc(500px * 1.2);
    --font-size-box-title1: calc(2.2rem * 1.2);
    --width-box-title2: calc(450px * 1.3);
    --font-size-box-title2: calc(2rem * 1.2);
    --width-box-title3: calc(300px * 1.2);
    --font-size-box-title3: calc(1.6rem * 1.2);
  }
}
@media (min-width: 1350px) {
  :root {
    --width-box-title1: calc(500px * 1.4);
    --font-size-box-title1: calc(2.2rem * 1.4);
    --width-box-title2: calc(450px * 1.4);
    --font-size-box-title2: calc(2rem * 1.4);
    --width-box-title3: calc(300px * 1.4);
    --font-size-box-title3: calc(1.6rem * 1.4);
  }
}
@media (min-width: 1600px) {
  :root {
    --width-box-title1: calc(500px * 1.6);
    --font-size-box-title1: calc(2.2rem * 1.6);
    --width-box-title2: calc(450px * 1.6);
    --font-size-box-title2: calc(2rem * 1.6);
    --width-box-title3: calc(300px * 1.6);
    --font-size-box-title3: calc(1.6rem * 1.6);
  }
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.5rem;
  background-color: #000;
  color: white;
  font-family: JosefinSansLight;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.navbar .navlista a {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.navbar .navlista #grease {
  font-family: JosefinSansRegular;
  font-size: 1.3rem;
  cursor: default;
}
.navbar .menu-icon {
  position: absolute;
  right: 10px;
  color: white;
  font-size: 1.5rem;
}
.navbar:nth-child(1) {
  padding-left: 20px;
  padding-right: 20px;
}
.navbar .container-icon-menu {
  position: absolute;
  display: block;
  left: 20px;
  display: none;
  font-size: 22px;
}

@media only screen and (max-width: 750px) {
  .navbar .navlista:not(:first-child) {
    display: none;
  }
  .navbar .container-icon-menu {
    position: absolute;
    display: block;
    left: 20px;
  }
  .navbar #toggler {
    position: absolute;
    display: block;
    right: 20px;
  }
  .navbar.responsive {
    overflow: scroll;
    flex-direction: column;
    justify-content: center;
  }
  .navbar.responsive .navlista {
    display: initial;
  }
  .navbar.responsive .navlista a {
    display: block;
  }
  .navbar.responsive .container-icon-menu {
    position: absolute;
    display: block;
    left: 20px;
  }
}

/*# sourceMappingURL=navbar.css.map */
