@font-face {
    font-family: JosefinSansRegular;
    src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: JosefinSansMedium;
    src: url(../fonts/JosefinSans/JosefinSans-Medium.ttf);
}

@font-face {
    font-family: JosefinSansLight;
    src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
}

@font-face {
    font-family: JosefinSansBoldItalic;
    src: url(../fonts/JosefinSans/JosefinSans-BoldItalic.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-Regular.ttf);
}


// Fontes
$JosefinSansRegular: JosefinSansRegular;
$JosefinSansMedium: JosefinSansMedium;
$JosefinSansLight: JosefinSansLight;
$JosefinSansBoldItalic: JosefinSansBoldItalic;
$Inter: Inter;


// Tamanho da fonte
$font-size-title1: 2em;
$font-size-title2: 1.5em;
$font-size-title3: 1.25em;
$font-size-text: 1em;



// Navbar
$alturaNAV: 4.5rem;


// Formulário
$widthInput: 70%;
$maxWidthInput: 450px;


:root {
    // Box-title
    --width-box-title1: 500px;
    --font-size-box-title1: 2.2rem;

    --width-box-title2: 450px;
    --font-size-box-title2: 2rem;

    --width-box-title3: 300px;
    --font-size-box-title3: 1.6rem;

    --height-sandy-danny: 95vh;

    // Cores
    --backg-color: #FEFCF3;
    --text-color: #000000;
    --text-color-50: #00000080;
    --text-color-80: #000000cc;
    --link-color: #45CFE1;

    --second-color: #6ba5f2;
    --second-color-50: #6ba5f280;
    --third-color: #00109d;

    --sect-par-backg-color: #000;
    --sect-par-text-color: #fff;   
}


// ===================================================
// Darkmode
.darkmode:root {
    --backg-color: #121111;
    --text-color: #FEFCF3;
    --text-color-50: #FFFFFF80;
    --text-color-80: #FFFFFFcc;

    --second-color: #A167FF;
    --second-color-50: #A167FF80;
    --third-color: #C6A4FF;
}
// ===================================================



// ===================================================
// Responsividade
@media (min-width: 1141px) {
    :root {
        --width-box-title1: calc(500px * 1.2);
        --font-size-box-title1: calc(2.2rem * 1.2);
    
        --width-box-title2: calc(450px  * 1.2);
        --font-size-box-title2: calc(2rem * 1.2);
    
        --width-box-title3: calc(300px * 1.2);
        --font-size-box-title3: calc(1.6rem * 1.2);
    }
}
@media (min-width: 1350px) {
    :root {
        --width-box-title1: calc(500px * 1.4);
        --font-size-box-title1: calc(2.2rem * 1.4);
    
        --width-box-title2: calc(450px  * 1.4);
        --font-size-box-title2: calc(2rem * 1.4);
    
        --width-box-title3: calc(300px * 1.4);
        --font-size-box-title3: calc(1.6rem * 1.4);
    }
}
@media (min-width: 1600px) {
    :root {
        --width-box-title1: calc(500px * 1.6);
        --font-size-box-title1: calc(2.2rem * 1.6);
    
        --width-box-title2: calc(450px  * 1.6);
        --font-size-box-title2: calc(2rem * 1.6);
    
        --width-box-title3: calc(300px * 1.6);
        --font-size-box-title3: calc(1.6rem * 1.6);
    }
}
// ===================================================