@font-face {
    font-family: 'Josefin Sans Regular';
    src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: 'Josefin Sans Medium';
    src: url(../fonts/JosefinSans/JosefinSans-Medium.ttf);
}

@font-face {
    font-family: 'Josefin Sans Light';
    src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
}

@font-face {
    font-family: 'Josefin Sans Bold';
    src: url(../fonts/JosefinSans/JosefinSans-Bold.ttf);
}
@font-face {
    font-family: 'Josefin Sans SemiBold';
    src: url(../fonts/JosefinSans/JosefinSans-SemiBold.ttf);
}

@font-face {
    font-family: 'Josefin Sans Bold Italic';
    src: url(../fonts/JosefinSans/JosefinSans-BoldItalic.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-Regular.ttf);
}

@font-face {
    font-family: InterSemiBold;
    src: url(../fonts/Inter/Inter-SemiBold.ttf);
}

// Navbar
// $alturaNAV: 4.5em;
$alturaNAV: 72px;


// Formulário
$widthInput: 75%;
$maxWidthInput: 550px;


// Player - Spotify
$height-close-box: 20px;
$height-option-bar: 100px;


:root {
    // Box-title
    --width-box-title1: 500px;
    --font-size-box-title1: 1.8em;

    --width-box-title2: 490px;
    --font-size-box-title2: 1.7em;

    --width-box-title3: 300px;
    --font-size-box-title3: 1.1em;
    
    --width-mais-tocadas: 480px;
    --font-size-box-title3: 1.6em;

    --height-sandy-danny: 95vh;

    // Cores
    --backg-color: #FEFCF3;
    --text-color: #000000;
    --text-color-50: #00000080;
    --text-color-80: #000000cc;
    --link-color: #45CFE1;

    --second-color: #4925B0;
    --second-color-50: #4a25b085;
    --third-color: #00109d;

    --sect-par-backg-color: #000;
    --sect-par-text-color: #fff;

    // Formulário - login e cadastro
    --fieldset-color: #B6B6B6;
    --backg-form: #EFEFEF;
    --backg-camada-2: white;
}


// ===================================================
// Darkmode
.darkmode:root {
    --backg-color: #000000;
    --text-color: #FEFCF3;
    --text-color-50: #FFFFFF80;
    --text-color-80: #FFFFFFcc;
    
    --second-color: #8F00FF;
    --second-color-50: #9000ff74;
    --third-color: #C6A4FF;
    
    // Formulário - login e cadastro
    --backg-form: #000000;
    --backg-camada-2: #000000;
}
// ===================================================


// ===================================================
// Responsividade
// @media (max-width: 580px) {
//     :root {
//         // --font-size-box-title1: 1.8em;
//     }
// }
// @media (max-width: 510px) {
//     :root {
//         --font-size-box-title1: 1.6em;
//     }
// }
// @media (max-width: 464px) {
//     :root {
//         --font-size-box-title1: 1.4em;
//     }
// }
// @media (max-width: 420px) {
//     :root {
//         --font-size-box-title1: 1.2em;
//     }
// }
// ===================================================