// BASE -> Configurações, reset, título, texto, botões, scrollbar, animações


@use 'config';


// Resetando valores padrões
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
// Bug -> body e o html fica com altura 0
html, body {
    height: 100%;
}

// Configurações do Body
body{
    background-color: var(--backg-color);
    color: var(--text-color);
    font-family: Inter;
    font-size: 18px;
    padding-top: config.$alturaNAV;
    overflow-x: hidden;
}

// MAIN 
main {
    width: 100%;
    min-height: 100%;
}

[data-aos] {
    position: relative;
    z-index: 0;
}


// ===================================================
// Títulos, textos e botões


// Títulos
h1, h2, h3, h4 {
    font: inherit;
    font-family: 'Josefin Sans Regular';
}
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.1em;
}
p.text {
    margin-block: 8px;
    font-size: 1em;
}


// Formatação de LINK
a {
    text-decoration: none;
    color: var(--link-color);

    & .underline:hover {
        text-decoration: underline;
        text-underline-offset: 2px;
    }
}


// Botão
button {
    cursor: pointer;
    font-family: 'Josefin Sans Medium';
}
// ===================================================


// ===================================================
// Scrollbar

// ::-webkit-scrollbar {
//     width: 12.5px;
//     height: 8px;
//     background-color: white;
// }

// ::-webkit-scrollbar-thumb {
//     background: rgb(187, 187, 187);
//     border-radius: 30px;
//     height: 50px;
//     width: 50px;
// }
// ===================================================


    
// ===================================================
// Animações

// Animação de títulos - hover
.animation-title {
    width: fit-content;
    
    /*Animação*/
    --b: 0.1em;   /* A grossura da linha */
    --c: var(--second-color); /* A cor da linha*/
    
    color: var(--text-color-80);
    padding-block: var(--b);
    background: 
        linear-gradient(var(--c) 50%, var(--text-color-80) 0) 0% calc(100% - var(--_p,0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
        -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
    .animation-title:hover {
        --_p: 100%;
        --_s: .3s;
    }

.animation-link {
    // animação
    --b: 0.1em;     /*A grossura da linha*/
    --c: #ffffff; /*A cor da linha*/
    
    padding-block: var(--b);
    background: 
    linear-gradient(var(--c) 50%,rgb(255, 255, 255) 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));   

    &:hover {
        --_p: 100%;
        --_s: .3s;
    }
}

// Fade - transição darkmode
.fade {
    transition: all .2s ease-in-out;
}

// Animação com scale
.animation-scale {
    transition: all 0.2s ease-in-out;
    
    &:hover {
        transform: scale(1.03);
    }

    &:active {
        transform: scale(0.98);
    }
}
// ===================================================