@use 'config';

/* Título do carrosel */
#carousel-title {
    letter-spacing: 3px;
    text-decoration: underline;
    text-underline-offset: 4.5px;
    margin-bottom: 20px;
}


/* Todos os slides */
.splide__slide {
    background-color: transparent;
    color: rgba(255, 255, 255, 0);

    /* Todos os slides vão ter 40% de opacidade */
    opacity: 0.4;

    font-size: 14px;
}

/* Os slides visiveis vão ter 100% de opacidade  */
.is-visible {
    opacity: 1;
    color: white;
}

.is-visible .autor_musica {
    color: rgba(255, 255, 255, 0.8);
}


/* CONTEUDO DO SLIDE */
.splide__slide img {
    width: 100%;
    margin-bottom: 8px;
}

.nome_musica {
    font-family: config.$JosefinSansBold;
}

.autor_musica {
    font-family: config.$JosefinSansMedium;
    margin-top: 2px;
    font-size: 0.9em;
}

/* CONTEUDO DO SLIDE */


/* Botão das setas */
.splide__arrow {
    opacity: 1;
    background: transparent;
}

/* SVG das setas */
.splide__arrow svg {
    fill: rgb(255, 255, 255);
}

/* Seta pra direita */
.splide__arrow--next {
    top: 14px;
    right: 10px;
}

/* Seta pra esquerda */
.splide__arrow--prev {
    top: 14px;
    right: 40px;
    left: unset;
}

/* Tirar as bolinhas de paginação */
.splide__pagination {
    display: none;
}