@use 'config';


.carrosel-musica {
    margin: 15px 0px 15px 0;
    
    #carousel-title {
        letter-spacing: 3px;
        text-decoration: underline;
        text-underline-offset: 5px;
        margin-bottom: 20px;
    }

    .opacity {
        position: absolute;
        z-index: 1;
        top: 17%;
        right: 0;
        height: 190px;
        width: 100px;
        background-color: rgba(0, 0, 0, 0.6);
        filter: blur(6px);
        
    }

    // Cada elemento do slide (que estiverem desativados - sem a classe is-visible)
    .splide__slide {
        background-color: transparent;
        // color: rgba(255, 255, 255, 0);
        // opacity: 0.4;
        font-size: 14px;
        width: 100%;
        transition: transform ease-in-out 0.15s;
        
        &:hover {
        transform: scale(1.03) translate(1.5px, 3px);
        }

        img {
            width: 100%;
        }

        .nome_musica {
            margin-top: 0.5em;
            font-family: config.$JosefinSansBold;
            font-size: 1em;
        }
        
        .autor_musica {
            font-family: config.$JosefinSansRegular;
            font-size: 0.9em;
            margin-top: 0.3em;
        }
    }


    /* Botão das setas */
    .splide__arrow {
        background: transparent;
        opacity: 1;
    }

    // SVG das setas
    .splide__arrow svg {
        fill: rgb(255, 255, 255);
    }

    /* Seta pra direita */
    .splide__arrow--next {
        top: 14px;
        right: 10px;
    }

    // Seta pra esquerda
    .splide__arrow--prev {
        top: 14px;
        right: 40px;
        left: unset;
    }

    // Tirar as bolinhas de paginação
    .splide__pagination {
        display: none;
    }

    //carrossel da home

    @font-face {
        font-family: JosefinsSansRegular;
        src: url(../docs/fonts/JosefinSans/JosefinSans-Regular.ttf);
    }
    @font-face {
        font-family: JosefinsSansBold;
        src: url(../docs/fonts/JosefinSans/JosefinSans-Bold.ttf);
    }


    html, body {
        height: 100%;
    }



    * {
        margin: 0;
    }
    
    body {
        background-color: black;
        color: white;
        
    }



    /* Carrosel */
    .splide {
        transform: translateY(90%);
        margin-left: 50px;
    }



    /* Título do carrosel */
    #carousel-title {
        font-family: JosefinsSansRegular;
        font-weight: normal;
        letter-spacing: 3px;
        text-decoration: underline;
        text-underline-offset: 4.5px;
        margin-bottom: 20px;
    }




    /* Todos os slides */
    .splide__slide {
        background-color: transparent;
        color: rgba(255, 255, 255, 0);



        /* Todos os slides vão ter 40% de opacidade */
        opacity: 0.4;



        font-size: 14px;
    }



    /* Os slides visiveis vão ter 100% de opacidade  */
    .is-visible {
        opacity: 1;
        color: white;
    }
    .is-visible .autor_musica {
        color: rgba(255, 255, 255, 0.8);
    }




    /* CONTEUDO DO SLIDE */
    .splide__slide img {
        width: 100%;
        margin-bottom: 8px;
    }
    .nome_musica {
        font-family: JosefinsSansBold;
    }
    .autor_musica {
        font-family: JosefinsSansRegular;
        margin-top: 2px;
        font-size: 0.9em;
    }
    /* CONTEUDO DO SLIDE */




    /* Botão das setas */
    .splide__arrow {
        opacity: 1;
        background: transparent;
    }



    /* SVG das setas */
    .splide__arrow svg {
        fill: rgb(255, 255, 255);
    }



    /* Seta pra direita */
    .splide__arrow--next {
        top: 14px;
        right: 10px;
    }



    /* Seta pra esquerda */
    .splide__arrow--prev {
        top: 14px;
        right: 40px;
        left: unset;
    }



    /* Tirar as bolinhas de paginação */
    .splide__pagination {
        display: none;
    }
}