@use 'config';


.carrosel-musica {
    margin: 15px 0px 15px 0;
    
    #carousel-title {
        letter-spacing: 3px;
        text-decoration: underline;
        text-underline-offset: 5px;
        margin-bottom: 20px;
    }

    // Cada elemento do slide
    .splide__slide {
        margin-right: ;
    }


    /* Botão das setas */
    .splide__arrow {
        background: transparent;
        opacity: 1;
    }

    // SVG das setas
    .splide__arrow svg {
        fill: rgb(255, 255, 255);
    }

    /* Seta pra direita */
    .splide__arrow--next {
        top: 14px;
        right: 10px;
    }

    // Seta pra esquerda
    .splide__arrow--prev {
        top: 14px;
        right: 40px;
        left: unset;
    }

    // Tirar as bolinhas de paginação
    .splide__pagination {
        display: none;
    }
}