// Container
#area {
    position: absolute;
    bottom: 0;
    background-color: #EEEEEE;
    border: none;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 85%;
    
    #com {
        border-bottom: solid;
        border-bottom-color: #E6E6E6;
        text-align: center;
        padding: 15px 0 15px 0;
    }
    
    #ifr {
        background-color: #EEEEEE;
    
    }
    
    #but {
        border-top: solid;
        border-top-color: #E6E6E6;
    }
    
    #divComent {
        background-color: #EEEEEE;
        border: none;
        border-radius: 15px;
        width: 100%;
    }
    
    #textInput {
        float: left;
        background-color: #E6E6E6;
        padding-left: 5px;
        font-size: 18px;
        border: none;
        height: 42px;
        width: 92%;
        border-radius: 50px;
    }
    
    img {
        width: 33px;
        height: 33px;
        text-align: center;
    }
    
    button {
        all: unset;
        cursor: pointer;
        outline: revert;
        width: 40px;
        height: 40px;
    }
    
    .emoji-button {
        font-size: 24px;
        cursor: pointer;
    }
    
    .emoji-list {
        display: none;
        position: absolute;
        bottom: 50px;
        right: 10px;
        z-index: 1;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        cursor: pointer;
    }

    .container-comentario {
        // background-color: rgba(255, 0, 0, 0.467);
        height: 300px;
        overflow-y: scroll;
        color: black;
        padding: 0 30px 0 30px;
        margin: 0 15px 0 15px;

        .coment-text {
            color: #686868;
        }


        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background: #E6E6E6;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #7B7B7B;
            border-radius: 20px;
        }
    }

}
