// Container
#area {
    position: absolute;
    bottom: 0;
    background-color: #EEEEEE;
    color: black;
    border: none;
    border-radius: 15px 15px 0 0;
    width: 100%;
    // height: 85%;
    
    .header {
        border-bottom: 2px solid rgba(67, 62, 62, 0.1);
        text-align: center;
        padding: 15px 0 15px 0;
        h3 {
            font-size: 1em;
        }
    }
    
    .header-quant-coment {
        border-bottom: 2px solid rgba(67, 62, 62, 0.1);
        padding: 7px 0 0 0;
        
        h3 {
            width: fit-content;
            border-bottom: 2px solid var(--second-color);
            padding-left: 35px;
            font-size: 1em;
            transform: translateY(2px);
            padding-bottom: 7px;
        }
    }
    
    #ifr {
        background-color: #EEEEEE;
    
    }
    
    #but {
        border-top: solid;
        border-top-color: #E6E6E6;
    }
    
    .container-comentario {
        // background-color: rgba(255, 0, 0, 0.467);
        max-height: 300px;
        overflow-y: scroll;
        color: black;
        padding: 0 30px 0 30px;
        margin: 20px 15px 20px 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .wrapper-comentario {
            background-color: white;
            padding: 20px;
            border-radius: 30px;
            .name-user {
                margin-bottom: 15px;
            }
            .comentario {
                color: #686868;
                padding-left: 10px;
            }
        }


        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background: #E6E6E6;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #7B7B7B;
            border-radius: 20px;
        }
    }  // .container-comentario

    #divComent {
        background-color: #EEEEEE;
        border: none;
        border-radius: 15px;
        width: 100%;
        height: 70px;
        
        form {
            gap: 20px;
        }
        
        .wrapper-input {
            width: 70%;
            position: relative;
            #input-comentario {
                background-color: #E6E6E6;
                border: none;
                border-radius: 50px;
                outline: none;

                height: 40px;
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;

                font-size: 0.85em;
                color: #686868;
            }

            .msg-erro {
                color: rgb(255, 89, 89);
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                display: none;
            }
        }

        button {
            all: unset;
            cursor: pointer;
            outline: none;
            width: 40px;
            height: 40px;
            img {
                height: 100%;
                aspect-ratio: 1/1;
            }
        }
        
        .emoji-button {
            font-size: 30px;
            height: 40px;
            aspect-ratio: 1/1;
            cursor: pointer;
            background-image: url('../imgs/home/comentarios/emoji.png');
            background-size: cover;
        }
        
        .emoji-list {
            display: none;
            position: absolute;
            bottom: 50px;
            right: 10px;
            left: 10px;
            z-index: 1;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
            border-radius: 30px;
            box-shadow: 4px 4px 10px rgba(62, 62, 62, 0.405);
            span {
                cursor: pointer;
            }

            &.mostrar {
                display: block;
            }
        }    
    }
}
