/*Id*/
#top_linha{ /*Primeira div*/
    border: none black;
    text-align: center;
    padding: 5px;

    .img-user {
        height: 100px;
        margin-top: 20px;
        img {
            height: 100%;
            border-radius: 100%;
            aspect-ratio: 1/1;
            // object-fit: cover;
            background-color: black;
        }
    }
}
#top_linha h1{
    margin-block: 0.5em;
    
}

#edicao{ /*Segunda div*/
    border: none 1px;
    margin-top: 50px;
}
#edicao form{
    border: none 1px;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.wrap-buttons {
    // display: flex;
    // width: 100% !important;
    
}
.btn {
    border-radius: 6px;
    cursor: pointer;
    padding-left: 1.8em;
    padding-right: 1.8em;
    height: 1.8em;
    font-size: 1em;
    
    &#del_btn {
        border: solid 1px #FF0000;
        background-color: #fff;
        color: #FF0000;
        margin-right: 10px;
    }
    &#edit_btn {
        border: solid 1px #5474E5;
        background-color: #5474E5;
        color: #fff;
        margin-left: 10px;
    }
}


/*Class*/
.caixas_form{
    border: none;
    margin-left: 25px;
    width: calc(100% - 25px);
    height: 1.8em;
    text-indent: 10px;
    outline: 0;
    background-color: var(--backg-color);
    color: var(--text-color);
    font-size: 1em;

    &::-ms-reveal {
        display: none;
    }
    &.border {
        border: solid 1px var(--text-color);
        border-radius: 6px;
    }
}
.wrap-senha {
    position: relative;
    #verSenha {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
    }
    input {
        padding-right: 50px;
    }
}
/*Tags*/
table{
    border: none 1px greenyellow;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}
th{
    border: solid 1px rgba(128, 128, 128, 0.300);
    border-left: none;
    width: 50%;
    height: 80px;
}
td{
    border: solid 1px rgba(128, 128, 128, 0.300);
    border-right: none;
    border-left: none;
    width: 50%;
    height: 80px;
}
hr{
    border-color: rgba(128, 128, 128, 0.300);
}
@media only screen and (max-width: 768px) {
    th {
        width: 100px;
    }
    td {
        width: 100%;
    }
    .wrap-buttons {
        // width: 50% !important;
    }
}
@media only screen and (max-width: 425px) {
    th {
        width: 60px;
    }
    td {
        width: 100%;
    }

    .wrap-buttons {
        // width: 50% !important;
    }
}
