@use 'config';


/* DIV - ESQUERDA */

div.form-left {
    height: 100%;
    width: 45%;
    float: left;

    .backg-image-logcad {
        background: no-repeat url(../imgs/cadastro/background4.png);
        background-position-y: center;
        background-size: cover;
    }
}


/* DIV - DIREITA */
div.form-right {
    margin: 0 auto;
    height: 100%;
    width: 55%;
    float: right;
    min-height: 700px;
    
    form {
        height: 100%;
        width: 90%;
        max-width: config.$maxWidthInput;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        text-align: center;

        h2 {
            margin: 0 auto;
        }
        
        fieldset {
            border: none;
            margin: 40px 0 0 0;

            legend {
                text-align: left;
                padding: 0 10px 0 10px;
                display: none;
                font-size: 1rem;
            }
        }

        input {
            height: 60px;
            min-height: 60px;
            width: 100%;
            display: block;
            border: 0;
            font-size: 1em;
        }

        .input_form {
            background: transparent;
            border-bottom: 1px solid var(--text-color);
            color: var(--text-color-80);
            outline: none;

            &::placeholder {
                color: var(--text-color-80);
            }

            // Tirar o "olhinho" para ver a senha
            &::-ms-reveal {
                display: none;
            }
        }

        .button_form {
            margin: 30px 0 15px 0;
            color: white;
            background-color: var(--second-color);
            // font-size: 1em;
        }
    }    
    
    .msg_erro {
        width: config.$widthInput;
        max-width: config.$maxWidthInput;
        text-align: left;
        margin-top: 8px;
        color: rgb(255, 89, 89);
    }
        .msg_erro i {
            color: rgb(255, 89, 89);
            margin-right: 5px;
        }
    
    i.eye {
        position: relative;
        
    }
}


@media only screen and (max-width: 800px) {
    div.form-left {
        visibility: hidden;
        display: none;
    }

    div.form-right {
        float: none;
        width: 100%;
        display: flex;
        align-items: end;

        
        form {
            // margin: 0 !important;
            // max-width: none;
            background-color: var(--backg-camada-1);
            height: 65%;
            // min-height: 600px;
            justify-content: flex-end;

        }

        .form-camada-2 {
            background-color: white;
            padding-bottom: 50px;
            width: 100%;
        }

        fieldset {
            border: 1px solid var(--fieldset-color) !important;
            padding: 0 10px 0 10px;

            legend { 
                display: initial !important;
                color: var(--fieldset-color);
            }

            // Vale para o input todos os imputs - respeitando a hierarquiedade do CSS
            input { transform: none !important }

            .input_form {
                border: none;
                position: relative;
                // bottom: 5px;
                transform: translateY(-7.5%) !important;
                
                &::placeholder {
                    color: transparent;
                }
            }

        }
    }

    
}

@media only screen and (max-height: 500px) {
    div.form-left {
        visibility: hidden;
        display: none;
    }

    div.form-right {
        float: none;
        width: 100%;
        height: 100%;
        padding: 35px 0 20px 0;
    }
}