@use 'config';


/* DIV - ESQUERDA */

div.form-left {
    height: 100%;
    width: 45%;
    float: left;

    .backg-image-logcad {
        background: no-repeat url(../imgs/cadastro/background4.png);
        background-position-y: center;
        background-size: cover;
    }
}


/* DIV - DIREITA */
div.form-right {
    margin: 0 auto;
    height: 100%;
    width: 55%;
    float: right;
    
    form {
        height: 100%;
        width: 90%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: column;
    }
    
    .input_form, .button_form {
        height: 60px;
        min-height: 60px;
        width: config.$widthInput;
        max-width: config.$maxWidthInput;
        border: 0;
    }
    
    
    .input_form {
        border-bottom: 1px solid var(--text-color);
        margin-top: 40px;
        background: 0;
        color: var(--text-color-80);
        
        &::-ms-reveal {
            display: none;
        }
    
        &::placeholder {
            color: var(--text-color-80);
        }
    
        &:focus {
            outline: none;
        } 
    
        &:hover{
            transform: scale(1.02, 1.02);
        }
    }
    
    
    .button_form {
        border: 0;
        background: var(--second-color);
        color: white;
        margin: 30px 0 10px 0;
        border-radius: 4px;
        cursor: pointer;
        
        &:active {
            transform: scale(0.98);
        }
    } 
    
    
    
    .msg_erro {
        width: config.$widthInput;
        max-width: config.$maxWidthInput;
        text-align: left;
        margin-top: 8px;
        color: rgb(255, 89, 89);
    }
        .msg_erro i {
            color: rgb(255, 89, 89);
            margin-right: 5px;
        }
    
    i.eye {
        position: relative;
        
    }
}


@media only screen and (max-width: 800px) {
    div.form-left {
        visibility: hidden;
        display: none;
    }

    div.form-right {
        float: none;
        width: 100%;
        // padding: 35px 0 20px 0;
        padding: 0; 
    }

}

@media only screen and (max-height: 500px) {
    div.form-left {
        visibility: hidden;
        display: none;
    }

    div.form-right {
        float: none;
        width: 100%;
        height: 100%;
        padding: 35px 0 20px 0;
    }
}