// Importando as configurações (variáveis)
@use 'config';


// ===================================================
// Caixas de texto
.padding-box-title {
    padding: 35px 35px 10px 35px;
    display: flex;
    align-items: stretch;
    gap: 20px;

    
    // Div dentro da padding-box-title -> todas as div.box-title
    & div {
        width: auto;
        padding: 20px;
    }

    .box-title1 {
        max-width: var(--width-box-title1);
        & h1 {
            font-size: var(--font-size-box-title1);
            font-family: config.$JosefinSansMedium;
            letter-spacing: 0.15em;
            line-height: 1.2em;
            & span {
                color: var(--third-color);
                background-color: var(--second-color-50);
                padding: 7px;
            }
        }
    }
    
    .box-title2 {
        max-width: var(--width-box-title2);
        & h2 {
            font-size: var(--font-size-box-title2);
            letter-spacing: 0.1em;
            line-height: 1.2;

            & span {
                color: var(--second-color)
            }
        }
    }
    
    .box-title3 {
        max-width: var(--width-box-title3);
        & h3 {
            font-size: var(--font-size-box-title3);
            font-family: config.$JosefinSansBoldItalic;
            letter-spacing: 0.1em;
            line-height: 1.1em;
            & span {
                color: var(--second-color);
            }
        }
    }
    
    .border-box {
        border: 7px solid var(--text-color); 
    }
    
    & button {
        font-size: 1rem;
        padding: 1em 7.1em 1em 7.1em;
        border: none;
        border-radius: 100px;
        background-color: var(--text-color);
        color: var(--backg-color);
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: var(--second-color);
            transform: scale(1.03);
        }

        &:active {
            transform: scale(0.98);
        }
    }
}

.right-bar::after {
    content: '';
    width: 7px;
    background-color: var(--second-color);
}

// ===================================================



// ===================================================
// Sessão
section {
    height: calc(100vh - config.$alturaNAV);
    min-height: 500px;

    &:first-child {
        .backgr-gradient {
            background: transparent;
            background: linear-gradient(180deg, rgba(255,255,255,0) 71%, rgba(12,12,12,0.24693627450980393) 83%, rgba(0,0,0,0.5186449579831933) 100%);
        }
        
        .sandy-danny {
            position: absolute;
            width: 40vw;
            min-width: 400px;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
    }


    &:nth-child(2n) {
        background-color: var(--sect-par-backg-color);
        color: var(--sect-par-text-color);

        .border-box {
            border-color: rgb(255, 255, 255);
        }
    }

    .retro-line {
        // height: 100%;
        // width: 100%;
        // background-image: url('../imgs/home/retro-line.png');
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: right;
        // background-origin: padding-box;
    }
}
// ===================================================



// ===================================================
/* RESPONSIVIDADE */
@media only screen and (max-width: 893px) {
    section:first-child {
        .sandy-danny {
            display: none;
        }
    }
}

@media screen and (max-height: 574px) {
    section:first-child {
        .sandy-danny {
            display: none;
        }
    }
}