// Importando as configurações (variáveis)
@use 'config';



// ===================================================
// Sessão
section {
    height: calc(100vh - config.$alturaNAV);
    
    &.section-theme-black {
        background-color: var(--sect-par-backg-color);
        color: var(--sect-par-text-color);
    
        .border-box {
            border-color: rgb(255, 255, 255);
        }
    }

    &.section1 {
        min-height: 520px;

        // Imagem do sandy e danny
        position: relative;
        .sandy-danny {
            position: absolute;
            width: 40vw;
            min-width: 400px;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
    }

    &.section2 {
        min-height: 820px;
        .retro-line {
            background-image: url('../imgs/home/retro-line.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
        }
    }

    &.section3 {
        min-height: 450px;
    }
}


.flex-collumn {
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
}
// ===================================================



// ===================================================
/* RESPONSIVIDADE */
@media only screen and (max-width: 840px) {
    .sandy-danny {
        display: none !important;
    }
}

// @media only screen and (min-width: 425px) {
//     .flex-collumn {
//         // justify-content: space-around;
//     }
// }

@media only screen and (max-width: 900px) {
    .retro-line {
        background: none !important;
    }
}