// Importando as configurações (variáveis)
@use 'config';



// ===================================================
// Sessão
section {
    
    &.section-theme-black {
        background-color: var(--sect-par-backg-color);
        color: var(--sect-par-text-color);
    
        .border-box {
            border-color: rgb(255, 255, 255);
        }
    }

    &.section1 {
        min-height: calc(100vh - config.$alturaNAV);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // Imagem do sandy e danny
        position: relative;
        .sandy-danny {
            position: absolute;
            width: 40vw;
            min-width: 400px;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
        #SandyDanny.scrollHide {
            opacity: 0;
          }
    }

    &.section2 {
        // min-height: 820px;
        .retro-line {
            background-image: url('../imgs/home/retro-line.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
        }
    }
    
    &.section3 {
        height: calc(100vh - config.$alturaNAV);
        min-height: 450px;
    }
    &.section4 {
        position: relative;
        min-height: 600px;
    }
}


// .flex-collumn {
//     display: flex;
//     flex-direction: column;
//     // justify-content: space-evenly;
//     justify-content: space-around;
//     padding-left: 20px;
//     padding-right: 20px;
// }
// ===================================================



// ===================================================
/* RESPONSIVIDADE */
@media only screen and (max-width: 825px) {
    .sandy-danny {
        display: none !important;
    }
}
@media only screen and (max-width: 900px) {
    .retro-line {
        background: none !important;
    }
}
// Celular grande => 425px
@media only screen and (max-width: 425px) {
    section {
        &.section1 {
            &.background-grease {
                background-color: var(--sect-par-backg-color);
                background-image: url('../imgs/home/grease-phone.svg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 100% 50%;
                color: white;

                span.color {
                    color: white !important;
                }
            }
        }
        &.section2 {
            // min-height: 1000px;
            padding-bottom: 120px;
            background-image: url('../imgs/home/section-2-bottom.png');
            background-repeat: no-repeat;
            background-size: 60%;
            background-position: bottom right;
        }
    }
}