@use 'config';

.music-player {
    position: fixed;
    z-index: 4;
    left: 0;
    bottom: 0;
    transition: bottom 0.2s ease;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #121212;
    color: white;
    user-select: none;
    overflow: auto;

    .wait-api {
        background-color: var(--wait);
    }
    
    // botão close
    .close-box {
        width: 100%;
        min-height: config.$height-close-box;
        display: flex;
        align-items: center;
        padding-left: 20px;
        cursor: pointer;
        margin-bottom: 20px;

        // Um lado do X
        .leftright {
            height: 4px;
            width: 40px;
            position: absolute;
            margin-top: 24px;
            background-color: rgb(255, 255, 255);
            border-radius: 2px;
            transform: rotate(45deg);
            transition: all 0.3s ease-in;
        }
        
        // Outro lado do X
        .rightleft {
            height: 4px;
            width: 40px;
            position: absolute;
            margin-top: 24px;
            background-color: rgb(255, 255, 255);
            border-radius: 2px;
            transform: rotate(-45deg);
            transition: all 0.3s ease-in;
        }
        
        // Label com texto Close
        .close {
            color: white;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 0.6em;
            text-transform: uppercase;
            letter-spacing: 2px;
            transition: all 0.3s ease-in;
            opacity: 0;
            margin: 50px 0 0 -3px;
            position: absolute;
        }
    }


    // Detalhes da musica -> foto, nome autor
    .music-details {
        font-size: 1.3rem;
        // height: 60%;
        margin: 0px 0 40px 0;
        display: flex;
        justify-content: center;

        .container {
            // Pra celular -> width
            width: 90%;
            max-width: 350px;
                
            .music-image {
                aspect-ratio: 1/1;
                width: 100%;
            }
    
            .music-name {
                font-family: JosefinSansRegular;
                font-size: 1em;
                margin-top: 0.5em;
            }
            
            .music-autor {
                font-family: JosefinSansLight;
                color: rgba(255, 255, 255, 0.8);
                font-size: 0.8em;
                margin-top: 0.3em;
            }
        }

    }
    
    // Barras de opções -> Time, Volume, retroceder ou avançar
    .option-bar {
        min-height: 100px;
        height: 100px;
        background-color: rgb(0, 0, 0, 0.6);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        .lbox-music {
            display: none;
            height: 80px;
            aspect-ratio: 1/1;
            position: absolute;
            left: 10px;

            .music-image {
                width: 100%;
                height: 100%;
            }
        }


    }
}


// CLasses para ser colocadas via JS
// Serve para deixar a div oculta
.ocult-player {
    bottom: -100% !important;
}
// Desabilita o Scroll -> Body
.disable-scroll {
    overflow: hidden;
}


@media only screen and (min-width: 768px) {
    .close-container:hover .leftright {
        transform: rotate(-45deg);
        background-color: rgb(255, 255, 255);
    }
    
    .close-container:hover .rightleft {
        transform: rotate(45deg);
        background-color: rgb(255, 255, 255);
    }
    
    .close-container:hover label {
        opacity: 1;
    }

    .lbox-music {
        display: block !important;
    }

}
