@use 'config';

.music-player {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #121212;
    color: white;
    user-select: none;
    overflow: auto;

    .wait-api {
        background-color: var(--wait);
    }
    
    // botão close
    .close-box {
        width: 100%;
        min-height: config.$height-close-box;
        height: config.$height-close-box;
        padding-left: 20px;
        margin: 20px 0px 20px 0px;

        img {
            height: 100%;
            cursor: pointer;
        }
    }


    // Detalhes da musica -> foto, nome autor
    .music-details {
        font-size: 1.3rem;
        // height: 60%;
        margin: 0px 0 40px 0;
        display: flex;
        justify-content: center;

        .container {
            // Pra celular -> width
            width: 90%;
            max-width: 350px;
                
            .music-image {
                aspect-ratio: 1/1;
                width: 100%;
            }
    
            .music-name {
                font-family: 'Josefin Sans Regular';
                font-size: 1em;
                margin-top: 0.5em;
            }
            
            .music-autor {
                font-family: 'Josefin Sans Light';
                color: rgba(255, 255, 255, 0.8);
                font-size: 0.8em;
                margin-top: 0.3em;
            }
        }

    }
    
    // Barras de opções -> Time, Volume, retroceder ou avançar
    .option-bar {
        min-height: 100px;
        height: 100px;
        background-color: rgb(0, 0, 0, 0.6);
        
        .lbox-music {
            margin: 0 20px 0 30px;
            height: 80px;
            aspect-ratio: 1/1;
            display: none;
            
            .music-image {
                height: 100%;
                aspect-ratio: 1/1;
            }
        }
        
        .barra-player {
            width: 100%;
            height: 100%;
            margin-left: 30px;
            margin-right: 30px;
            flex-direction: column;
            
            input[type="range"] {                
                // Track - webkit
                &::-webkit-slider-runnable-track {
                    height: 4px;
                    width: 100%;
                    background-color: transparent;
                    cursor: pointer;
                }
                // Track - moz
                &::-moz-range-track {
                    height: 4px;
                    width: 100%;
                    background-color: transparent;
                    cursor: pointer;
                }
                // Track - ms
                &::-ms-track {
                    height: 4px;
                    width: 100%;
                    background-color: transparent;
                    cursor: pointer;
                }


                // Bolinha
                // Thumb - webkit
                &::-webkit-slider-thumb {
                    appearance: none;
                    position: relative;
                    bottom: 2.5px;
                    height: 0px;
                    width: 0px;
                    border-radius: 50%;
                    background-color: #fff;
                    cursor: pointer;
                }
                &:active::-webkit-slider-thumb {
                    height: 10px;
                    width: 10px;
                    cursor: pointer;
                }
                
                // Thumb - moz
                &::-moz-range-thumb {
                    appearance: none;
                    position: relative;
                    bottom: 2.5px;
                    height: 0px;
                    width: 0px;
                    border-radius: 50%;
                    background-color: #fff;
                    cursor: pointer;
                }
                &:active::-moz-range-thumb {
                    height: 10px;
                    width: 10px;
                    cursor: pointer;
                }
                
                // Thumb - ms
                &::-ms-thumb {
                    appearance: none;
                    position: relative;
                    bottom: 2.5px;
                    height: 0px;
                    width: 0px;
                    border-radius: 50%;
                    background-color: #fff;
                    cursor: pointer;
                }
                &:active::-ms-thumb {
                    cursor: pointer;
                    height: 10px;
                    width: 10px;
                }
                
                
                // Progress - moz
                &::-moz-range-progress {
                    background: rgb(253, 253, 253);
                    cursor: pointer;
                }
                
                // Focus outer - moz
                &::-moz-focus-outer {
                    border: 0;
                }

                // Fill lower - ms
                &::-ms-fill-lower {
                    cursor: pointer;
                    background: white;
                }

                // Tempo atual
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    height: 4px;
                    width: var(--seek-before-width);
                    background: rgba(255, 255, 255);
                }
                &:active::before {
                    background: var(--second-color);
                }

            }

            .icons {
                width: 100%;
                font-size: 18px;
                
                i {
                    margin: 0 5px 0 5px;
                    cursor: pointer;
                }

                .active {
                    color: var(--second-color);
                }
                
                
                .left {
                    float: left;
                    margin-left: 25px;
                }

                .right {
                    float: right;
                    margin-right: 25px;
                    position: relative;
                }
            }

            .barra {
                display: block;
                width: 100%;
                font-size: 13px;

                input {
                    appearance: none;
                    position: relative;
                    background-color: rgba(150, 150, 150, 0.8); // Cor da barra
                    height: 4px;
                    width: 100%;
                    max-width: 100%;
                    margin: 10px 0 10px 0;
                    cursor: pointer;
                }

                #tempo-atual {
                    line-height: 100%;
                    float: left;
                }
                
                #tempo-total {
                    line-height: 100%;
                    float: right;
                }
            }
        }
    }
}


// Desabilita o Scroll -> Body
.disable-scroll {
    overflow: hidden;
}


@media only screen and (min-width: 425px) {
    .close-container:hover .leftright {
        transform: rotate(-45deg);
        background-color: rgb(255, 255, 255);
    }
    
    .close-container:hover .rightleft {
        transform: rotate(45deg);
        background-color: rgb(255, 255, 255);
    }
    
    .close-container:hover label {
        display: block;
    }

    .lbox-music {
        display: block !important;
    }

    .barra-tempo {
        margin-left: 0px !important;
    }
}
