@use 'config';


// NAVBAR PRINCIPAL
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: config.$alturaNAV;
    background-color: #000;
    color: white;
    font-family: config.$JosefinSansLight;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    

    // TODOS OS FILHOS
    &:nth-child(1) {
        padding-left: 20px;
        padding-right: 20px;
    }


    .navlista a {
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
        color: white;
        
    }

    // TÍTULO 'GREASE'
    #grease {
        font-family: JosefinSansRegular;
        font-size: 1.3rem;
        cursor: default;
    }

    // CONTAINER DO ÍCONE DE MENU
    .container-icon-menu {
        display: none;
    }


    // TOGGLE - MODO ESCURO
    #toggler {
        // width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        label {
            display: inline-block;
            border: 1px solid white;
            border-radius: 50px;
            height: 45%;
            width: 70px;
            user-select: none;
            cursor: pointer;

            #checkbox {
                display: none;
            }

            .sun, .moon, .star, .cloud {
                position: absolute;
                transition: all 0.25s ease-in-out;
            }

            .sun, .moon, .star {
                color: #f8f81b;
            }

            .sun {
                font-size: 22px;
                transform: translate(-95%, 19%) scale(1);
            }
            .sun.desativado {
                transform: translate(-95%, 19%) scale(0);
            }

            .cloud {
                position: absolute;
                color: rgba(255, 255, 255, 1);
            }
            .cloud1 {
                transform: translate(-85%, 75%)  scale(1);
            }
            .cloud1.desativado {
                transform: translate(-85%, 75%)  scale(1);
            }
            .cloud2 {
                font-size: 6px;
                transform: translate(0%, 90%)  scale(1);
                transition: transform 0.25s ease-in-out;
            }
            
            .moon {
                font-size: 25px;
                transform: rotate(210deg) translate(5%, -10%) scale(0);
            }
            .star1 {
                font-size: 5px;
                transform: translate(0%, 50%) scale(0);
            }
            .star2 {
                font-size: 3px;
                transform: translate(0%, 280%) scale(0);
            }
            .star3 {
                font-size: 6px;
                transform: translate(0%, 280%) scale(0); 
            }

            .ball {
                display: inline-block;
                position: relative;
                width: 25px;
                height: 25px;
                background: rgb(255, 255, 255, 0.1);
                border-radius: 30px;
                transform: translate(10%, 11%);
                transition: transform 0.3s ease-out;
                z-index: 10;
            }
            
            #checkbox:checked + .ball {
                transform: translate(162%, 11%);   
            } 
        }
    }
}

// NAVBAR - LATERAR (SANDWICH)
.navbar-lateral {
    position: fixed;
    background-color: #000000;
    width: 350px;
    max-width: 100%;
    height: 100%;
    left: -350px;
    transition: left 0.4s ease-out;


    // LISTA DE ITENS DA NAVBAR
    .navlista {
        margin: 10px 0 50px 20px;
        a {
            display: block;
            width: fit-content;
            color: white;
            margin-bottom: 10px;
        }
    }
}
// QUANDO ESTIVER ABERTO
.navbar-lateral.open {
    left: 0;
}
.overflow-hidden {
    overflow: hidden;
}


// RESPONSIVIDADE DA NAVBAR
@media only screen and (max-width: 750px) {
    .navbar {
        justify-content: left;

        .navlista:not(:nth-child(2)) {
            display: none
        }
        .navlista a:not(#grease) {display: none}
        
        .navlista:first-child{
            display: initial;
            margin-right: 20px;
        }
        .container-icon-menu {
            position: absolute;
            display: initial;
            right: 20px;
            font-size: 1.4rem;
        }   
    }
}