@use 'config';


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: config.$alturaNAV;
    background-color: #000;
    color: white;
    font-family: config.$JosefinSansLight;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
    .navlista {
        
        a {
            display: inline;
            margin-left: 10px;
            margin-right: 10px;
            color: white;
        }

        #grease {
            font-family: JosefinSansRegular;
            font-size: 1.3rem;
            cursor: default;
        }
    }

    .menu-icon {
        position: absolute;
        right: 10px;
        color: white;
        font-size: 1.5rem;
    }

    &:nth-child(1) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-icon-menu {
        position: absolute;
        display: block;
        left: 20px;
        display: none;
        font-size: 22px;
    }
}


@media only screen and (max-width: 750px) {
    .navbar {
        
        .navlista:not(:first-child) {
            display: none;
        }

        .container-icon-menu {
            position: absolute;
            display: block;
            left: 20px;
        }
        
        #toggler {
            position: absolute;
            display: block;
            right: 20px;
        }
    }
    
    .navbar.responsive {
        // height: auto;
        overflow: scroll;
        flex-direction: column;
        // display: block;
        justify-content: center;
        .navlista {
            display: initial;

            a  {
                display: block;
            }
        }

        .container-icon-menu {
            position: absolute;
            display: block;
            left: 20px;
        }
    }
}