// TOGGLE - MODO ESCURO
#toggler {
    // width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    label {
        display: inline-block;
        border: 1px solid white;
        border-radius: 50px;
        height: 45%;
        width: 70px;
        user-select: none;
        cursor: pointer;

        #checkbox {
            display: none;
        }

        .sun, .moon, .star, .cloud {
            position: absolute;
            transition: all 0.25s ease-in-out;
        }

        .sun, .moon, .star {
            color: #f8f81b;
        }

        .sun {
            font-size: 22px;
            transform: translate(-95%, 19%) scale(1);
        }
        .sun.desativado {
            transform: translate(-95%, 19%) scale(0);
        }

        .cloud {
            position: absolute;
            color: rgba(255, 255, 255, 1);
        }

        .cloud1 {
            transform: translate(-81%, 75%)  scale(1);
        }
        .cloud1.desativado {
            transform: translate(-81%, 75%)  scale(0) rotate(180deg);
        }

        .cloud2 {
            font-size: 6px;
            transform: translate(0%, 45%)  scale(1);
        }
        .cloud2.desativado {
            transform: translate(0%, 45%)  scale(0) rotate(180deg);

        }
        
        .moon {
            font-size: 25px;
            transform: rotate(210deg) translate(-105%, 30%) scale(1);
        }
        .moon.desativado {
            transform: rotate(210deg) translate(-105%, 30%) scale(0);
        }

        .star1 {
            font-size: 5px;
            transform: translate(170%, 50%) scale(1);
        }
        .star1.desativado {
            transform: translate(170%, 50%) scale(0);
        }

        .star2 {
            font-size: 2px;
            transform: translate(900%, 450%) scale(1);
        }
        .star2.desativado {
            transform: translate(900%, 450%) scale(0);
        }

        .star3 {
            font-size: 6px;
            transform: translate(100%, 350%) scale(1); 
        }
        .star3.desativado {
            transform: translate(100%, 350%) scale(0); 
        }

        .ball {
            display: inline-block;
            position: relative;
            width: 25px;
            height: 25px;
            background: rgb(255, 255, 255);
            border-radius: 30px;
            transform: translate(10%, 11%);
            transition: transform 0.3s ease-out;
            z-index: 10;
        }
        
        #checkbox:checked + .ball {
            transform: translate(162%, 11%);   
        } 
    }
}